<include file="public@header"/>
<style>
.cdnhide{
	display:none;
}
.codehide{
	display:none;
}
</style>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#A" data-toggle="tab">基本设置</a></li>
        <li><a href="#B" data-toggle="tab">登录配置</a></li>
        <li><a href="#C" data-toggle="tab">直播配置</a></li>
        <li><a href="#D" data-toggle="tab">映票提现配置</a></li>
        <li><a href="#E" data-toggle="tab">推送配置</a></li>
        <li><a href="#F" data-toggle="tab">支付配置</a></li>
        <li><a href="#G" data-toggle="tab">邀请奖励</a></li>
        <li><a href="#H" data-toggle="tab">统计配置</a></li>
        <li><a href="#I" data-toggle="tab">视频配置</a></li>
        <li><a href="#J" data-toggle="tab">店铺/商品配置</a></li>
        <li><a href="#K" data-toggle="tab">动态配置</a></li>
        <li><a href="#L" data-toggle="tab">游戏配置</a></li>
        <li><a href="#M" data-toggle="tab">物流配置</a></li>
        <li><a href="#N" data-toggle="tab">每日任务</a></li>
    </ul>
    <form class="form-horizontal js-ajax-form margin-top-20" role="form" action="{:url('setting/configpriPost')}" method="post">
        <fieldset>
            <div class="tabbable">
                <div class="tab-content">
                    <div class="tab-pane active" id="A">
                        <div class="form-group">
                            <label for="input-family_switch" class="col-sm-2 control-label">家族控制</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[family_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['family_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-family_member_divide_switch" class="col-sm-2 control-label">家族长修改成员分成比例是否管理员审核</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[family_member_divide_switch]">
                                    <option value="0">否</option>
                                    <option value="1" <eq name="config['family_member_divide_switch']" value="1">selected</eq>>是</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-service_switch" class="col-sm-2 control-label">客服</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[service_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['service_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-service_url" class="col-sm-2 control-label">客服链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-service_url"
                                       name="options[service_url]" value="{$config.service_url|default=''}">
                                       <p class="help-block">注册链接：http://www.53kf.com/reg/index?yx_from=210260</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-sensitive_words" class="col-sm-2 control-label">敏感词</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" id="input-sensitive_words" name="options[sensitive_words]" >{$config.sensitive_words|default=''}</textarea><p class="help-block">设置多个敏感字，请用英文状态下逗号隔开</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="1">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="B">
                        <div class="form-group">
                            <label for="input-reg_reward" class="col-sm-2 control-label">注册奖励</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-reg_reward"
                                       name="options[reg_reward]" value="{$config.reg_reward|default=''}">
                                       <p class="help-block">新用户注册奖励（整数）</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-bonus_switch" class="col-sm-2 control-label">登录奖励开关</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[bonus_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['bonus_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-login_wx_pc_appid" class="col-sm-2 control-label">PC 微信登录appid</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-login_wx_pc_appid" name="options[login_wx_pc_appid]" value="{$config['login_wx_pc_appid']|default=''}">  
                                <p class="help-block">PC 微信登录appid（微信开放平台网页应用 APPID） </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-login_wx_pc_appsecret" class="col-sm-2 control-label">PC 微信登录appsecret</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-login_wx_pc_appsecret" name="options[login_wx_pc_appsecret]" value="{$config['login_wx_pc_appsecret']|default=''}">
                                <p class="help-block">PC 微信登录appsecret（微信开放平台网页应用 AppSecret） </p>
                            </div>
                        </div>
                        
                        <!-- <div class="form-group">
                            <label for="input-login_sina_pc_akey" class="col-sm-2 control-label">PC微博登陆akey</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-login_sina_pc_akey" name="options[login_sina_pc_akey]" value="{$config['login_sina_pc_akey']|default=''}">  PC 微信登录appsecret（微信开放平台网页应用 AppSecret） 
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-login_sina_pc_skey" class="col-sm-2 control-label">PC新浪微博skey</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-login_sina_pc_skey" name="options[login_sina_pc_skey]" value="{$config['login_sina_pc_skey']|default=''}">  PC 微信登录appsecret（微信开放平台网页应用 AppSecret） 
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label for="input-login_wx_appid" class="col-sm-2 control-label">微信公众平台Appid</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-login_wx_appid" name="options[login_wx_appid]" value="{$config['login_wx_appid']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-login_wx_appsecret" class="col-sm-2 control-label">微信公众平台AppSecret</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-login_wx_appsecret" name="options[login_wx_appsecret]" value="{$config['login_wx_appsecret']|default=''}"> 
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="input-ihuyi_account" class="col-sm-2 control-label">互亿无线APIID</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-ihuyi_account" name="options[ihuyi_account]" value="{$config['ihuyi_account']|default=''}"> 短信验证码   http://www.ihuyi.com/  互亿无线后台-》验证码、短信通知-》账号及签名->APIID
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-ihuyi_ps" class="col-sm-2 control-label">互亿无线key</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-ihuyi_ps" name="options[ihuyi_ps]" value="{$config['ihuyi_ps']|default=''}">  短信验证码 互亿无线后台-》验证码、短信通知-》账号及签名->APIKEY
                            </div>
                        </div> -->
                        
                        <div class="form-group">
                            <label for="input-sendcode_switch" class="col-sm-2 control-label">短信验证码开关</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[sendcode_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['sendcode_switch']" value="1">selected</eq>>开启</option>
                                </select>
                                <p class="help-block">短信验证码开关,关闭后不再发送真实验证码，采用默认验证码123456</p>
                            </div>
                        </div>
                       
						
                        <div class="form-group">
                            <label for="input-typecode_switch" class="col-sm-2 control-label">短信接口平台</label>
                            <div class="col-md-6 col-sm-10" id="duanxin">
                                <label class="radio-inline"><input type="radio" value="1" name="options[typecode_switch]" <in value="1" name="config['typecode_switch']">checked="checked"</in>>阿里云</label>
                                <label class="radio-inline"><input type="radio" value="2" name="options[typecode_switch]" <in value="2" name="config['typecode_switch']">checked="checked"</in>>容联云</label>
                            </div>
                        </div>
						
                        <div class=" code_bd <neq name='config.typecode_switch' value='1'>codehide</neq>" id="typecode_switch_1">
                            <div class="form-group">
								<label for="input-aly_keydi" class="col-sm-2 control-label">阿里云AccessKey ID</label>
								<div class="col-md-6 col-sm-10">
									<input type="text" class="form-control" id="input-aly_keydi" name="options[aly_keydi]" value="{$config['aly_keydi']|default=''}">  阿里云控制台==》云通信-》短信服务==》 AccessKey ID 
								</div>
							</div>

							<div class="form-group">							
								<label for="input-aly_secret" class="col-sm-2 control-label">阿里云AccessKey Secret</label>
								<div class="col-md-6 col-sm-10">
									<input type="text" class="form-control" id="input-aly_secret" name="options[aly_secret]" value="{$config['aly_secret']|default=''}">  阿里云控制台==》云通信-》短信服务==》 AccessKey Secret 
								</div>
							</div>

							<div class="form-group">
								<label for="input-aly_signName" class="col-sm-2 control-label">阿里云短信签名</label>
								<div class="col-md-6 col-sm-10">
									<input type="text" class="form-control" id="input-aly_signName" name="options[aly_signName]" value="{$config['aly_signName']|default=''}">  阿里云控制台==》云通信-》短信服务==》 短信签名 
								</div>
							</div>

							<div class="form-group">							
								<label for="input-aly_templateCode" class="col-sm-2 control-label">阿里云短信模板ID</label>
								<div class="col-md-6 col-sm-10">
									<input type="text" class="form-control" id="input-aly_templateCode" name="options[aly_templateCode]" value="{$config['aly_templateCode']|default=''}">  阿里云控制台==》云通信-》短信服务==》 短信模板ID  
								</div>
							</div>
                        
                        </div>
				
						<div class=" code_bd <neq name='config.typecode_switch' value='2'>codehide</neq>" id="typecode_switch_2">
							<div class="form-group">
								<label for="input-ccp_sid" class="col-sm-2 control-label">容联云ACCOUNT SID</label>
								<div class="col-md-6 col-sm-10">
									<input type="text" class="form-control" id="input-ccp_sid" name="options[ccp_sid]" value="{$config['ccp_sid']|default=''}">
								</div>
							</div>
							<div class="form-group">
								<label for="input-ccp_token" class="col-sm-2 control-label">容联云AUTH TOKEN</label>
								<div class="col-md-6 col-sm-10">
									<input type="text" class="form-control" id="input-ccp_token" name="options[ccp_token]" value="{$config['ccp_token']|default=''}">
								</div>
							</div>
							<div class="form-group">
								<label for="input-ccp_appid" class="col-sm-2 control-label">容联云应用APPID</label>
								<div class="col-md-6 col-sm-10">
									<input type="text" class="form-control" id="input-ccp_appid" name="options[ccp_appid]" value="{$config['ccp_appid']|default=''}"> 
								</div>
							</div>
							<div class="form-group">
								<label for="input-ccp_tempid" class="col-sm-2 control-label">容联云短信模板ID</label>
								<div class="col-md-6 col-sm-10">
									<input type="text" class="form-control" id="input-ccp_tempid" name="options[ccp_tempid]" value="{$config['ccp_tempid']|default=''}"> 
								</div>
							</div>
                        </div>
                        
                        
                        
                        <div class="form-group">
                            <label for="input-iplimit_switch" class="col-sm-2 control-label">短信验证码IP限制开关</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[iplimit_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['iplimit_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-iplimit_times" class="col-sm-2 control-label">短信验证码IP限制次数</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-iplimit_times" name="options[iplimit_times]" value="{$config['iplimit_times']|default=''}"> 
                                <p class="help-block">同一IP每天可以发送验证码的最大次数</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="C">
                        <div class="form-group">
                            <label for="input-auth_islimit" class="col-sm-2 control-label">认证限制</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[auth_islimit]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['auth_islimit']" value="1">selected</eq>>开启</option>
                                </select>
                                <p class="help-block">主播开播是否需要身份认证</p>
                            </div>
                        </div>
						<div class="form-group">
                            <label for="input-level_islimit" class="col-sm-2 control-label">直播认证推荐值</label>
                            <div class="col-md-6 col-sm-10">
						 <input type="text" class="form-control" id="input-level_limit" name="options[cert_score]" value="{$config['cert_score']|default='100'}"> 
                                <p class="help-bcert_scorelock">主播完成身份认证基础推荐值设置</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-level_islimit" class="col-sm-2 control-label">直播等级控制</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[level_islimit]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['level_islimit']" value="1">selected</eq>>开启</option>
                                </select>
                                <p class="help-block">直播等级控制是否开启</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-level_limit" class="col-sm-2 control-label">直播限制等级</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-level_limit" name="options[level_limit]" value="{$config['level_limit']|default=''}"> 
                                <p class="help-block">直播等级限制开启时，最低开播等级（用户等级）</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-speak_limit" class="col-sm-2 control-label">发言等级限制</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-speak_limit" name="options[speak_limit]" value="{$config['speak_limit']|default=''}">
                                <p class="help-block"> 0表示无限制</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-barrage_limit" class="col-sm-2 control-label">弹幕等级限制</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-barrage_limit" name="options[barrage_limit]" value="{$config['barrage_limit']|default=''}"> <p class="help-block">0表示无限制</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-barrage_fee" class="col-sm-2 control-label">弹幕费用</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-barrage_fee" name="options[barrage_fee]" value="{$config['barrage_fee']|default=''}"> 
                                <p class="help-block">每条弹幕的价格（整数）</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-userlist_time" class="col-sm-2 control-label">用户列表请求间隔(秒)</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-userlist_time" name="options[userlist_time]" value="{$config['userlist_time']|default=''}"> <p class="help-block">直播间用户列表刷新间隔时间  注：不小于5s</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-mic_limit" class="col-sm-2 control-label">连麦等级限制</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-mic_limit" name="options[mic_limit]" value="{$config['mic_limit']|default=''}"> 
                               <p class="help-block"> 0表示无限制</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-chatserver" class="col-sm-2 control-label">聊天服务器带端口</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-chatserver" name="options[chatserver]" value="{$config['chatserver']|default=''}"> 
                               <p class="help-block"> 格式：http://域名(:端口) 或者 http://IP(:端口)</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-live_sdk" class="col-sm-2 control-label">模式选择</label>
                            <div class="col-md-6 col-sm-10" id="sdk">
                                <label class="radio-inline"><input type="radio" value="0" name="options[live_sdk]" <in value="0" name="config['live_sdk']">checked="checked"</in>>直播模式</label>
                                <label class="radio-inline"><input type="radio" value="1" name="options[live_sdk]" <in value="1" name="config['live_sdk']">checked="checked"</in>>直播+连麦模式</label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-cdn_switch" class="col-sm-2 control-label">CDN</label>
                            <div class="col-md-6 col-sm-10" id="cdn">
                                <label class="radio-inline"><input type="radio" value="1" name="options[cdn_switch]" <in value="1" name="config['cdn_switch']">checked="checked"</in>  <in value="1" name="config['live_sdk']">disabled</in>>阿里云</label>
                                <label class="radio-inline"><input type="radio" value="2" name="options[cdn_switch]" <in value="2" name="config['cdn_switch']">checked="checked"</in>>腾讯云</label>
                                <label class="radio-inline"><input type="radio" value="3" name="options[cdn_switch]" <in value="3" name="config['cdn_switch']">checked="checked"</in>  <in value="1" name="config['live_sdk']">disabled</in>>七牛云</label>
                                <label class="radio-inline"><input type="radio" value="4" name="options[cdn_switch]" <in value="4" name="config['cdn_switch']">checked="checked"</in>  <in value="1" name="config['live_sdk']">disabled</in>>网宿</label>
                                <label class="radio-inline"><input type="radio" value="5" name="options[cdn_switch]" <in value="5" name="config['cdn_switch']">checked="checked"</in>  <in value="1" name="config['live_sdk']">disabled</in>>网易云</label>
                                <label class="radio-inline"><input type="radio" value="6" name="options[cdn_switch]" <in value="6" name="config['cdn_switch']">checked="checked"</in>  <in value="1" name="config['live_sdk']">disabled</in>>奥点云</label>
                            </div>
                        </div>

                        <div class="cdn_bd <neq name='config.cdn_switch' value='1'>cdnhide</neq>" id="cdn_switch_1">
                             <div class="form-group">
                                <label for="input-push_url" class="col-sm-2 control-label">推流服务器地址</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-push_url" name="options[push_url]" value="{$config['push_url']|default=''}"> 
                                    <p class="help-block">格式：域名(:端口) 或者 IP(:端口)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-auth_key_push" class="col-sm-2 control-label">推流鉴权KEY</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-auth_key_push" name="options[auth_key_push]" value="{$config['auth_key_push']|default=''}"> 
                                    <p class="help-block">推流鉴权KEY 留空表示不启用</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-auth_length_push" class="col-sm-2 control-label">推流鉴权有效时长</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-auth_length_push" name="options[auth_length_push]" value="{$config['auth_length_push']|default=''}"> 
                                    <p class="help-block">推流鉴权有效时长（秒）</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-pull_url" class="col-sm-2 control-label">播流服务器地址</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-pull_url" name="options[pull_url]" value="{$config['pull_url']|default=''}"> 
                                    <p class="help-block">格式：域名(:端口) 或者 IP(:端口)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-auth_key_pull" class="col-sm-2 control-label">播流鉴权KEY</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-auth_key_pull" name="options[auth_key_pull]" value="{$config['auth_key_pull']|default=''}"> 
                                    <p class="help-block">播流鉴权KEY 留空表示不启用</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-auth_length_pull" class="col-sm-2 control-label">播流鉴权有效时长</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-auth_length_pull" name="options[auth_length_pull]" value="{$config['auth_length_pull']|default=''}"> 
                                    <p class="help-block">播流鉴权有效时长（秒）</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-aliy_key_id" class="col-sm-2 control-label">阿里云AccessKey ID</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-aliy_key_id" name="options[aliy_key_id]" value="{$config['aliy_key_id']|default=''}">
                                    <p class="help-block"> 回放用</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-aliy_key_secret" class="col-sm-2 control-label">阿里云AccessKey Secret</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-aliy_key_secret" name="options[aliy_key_secret]" value="{$config['aliy_key_secret']|default=''}">
                                    <p class="help-block"> 回放用</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="cdn_bd <neq name='config.cdn_switch' value='2'>cdnhide</neq>" id="cdn_switch_2">
                            <div class="form-group">
                                <label for="input-tx_appid" class="col-sm-2 control-label">腾讯云直播appid</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-tx_appid" name="options[tx_appid]" value="{$config['tx_appid']|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-tx_bizid" class="col-sm-2 control-label">腾讯云直播bizid</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-tx_bizid" name="options[tx_bizid]" value="{$config['tx_bizid']|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-tx_push_key" class="col-sm-2 control-label">腾讯云推流防盗链Key</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-tx_push_key" name="options[tx_push_key]" value="{$config['tx_push_key']|default=''}"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-tx_acc_key" class="col-sm-2 control-label">腾讯云直播低延迟Key</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-tx_acc_key" name="options[tx_acc_key]" value="{$config['tx_acc_key']|default=''}">
                                    <p class="help-block">一般是 直播推流防盗链Key</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-tx_api_key" class="col-sm-2 control-label">腾讯云直播推流鉴权key</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-tx_api_key" name="options[tx_api_key]" value="{$config['tx_api_key']|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-tx_play_key" class="col-sm-2 control-label">腾讯云直播播流鉴权key</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-tx_play_key" name="options[tx_play_key]" value="{$config['tx_play_key']|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-tx_play_time" class="col-sm-2 control-label">腾讯云直播播流鉴权时间(秒)</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-tx_play_time" name="options[tx_play_time]" value="{$config['tx_play_time']|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-tx_play_key_switch" class="col-sm-2 control-label">是否开启腾讯云播流鉴权</label>
                                <div class="col-md-6 col-sm-10" id="sdk">
                                    <label class="radio-inline"><input type="radio" value="0" name="options[tx_play_key_switch]" <if condition="array_key_exists('tx_play_key_switch',$config) && $config['tx_play_key_switch'] eq '0'">checked="checked" </if>>关闭</label>
                                    <label class="radio-inline"><input type="radio" value="1" name="options[tx_play_key_switch]" <if condition="array_key_exists('tx_play_key_switch',$config) && $config['tx_play_key_switch'] eq '1'">checked="checked" </if>>开启</label>
                                    <p class="help-block">如果选择开启，请确保腾讯云-->云直播-->域名管理-->{$config['tx_pull']|default=''}-->管理-->访问控制-->鉴权配置 里的信息开启了配置,并保持腾讯云填写的鉴权key和鉴权时间与此处填写的一致,参考文档：<a href="https://cloud.tencent.com/document/product/267/32463" target="_blank">https://cloud.tencent.com/document/product/267/32463</a></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-tx_push" class="col-sm-2 control-label">腾讯云直播推流域名</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-tx_push" name="options[tx_push]" value="{$config['tx_push']|default=''}">
                                    <p class="help-block"> 不带 http:// ,最后无 /</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-tx_pull" class="col-sm-2 control-label">腾讯云直播播流域名</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-tx_pull" name="options[tx_pull]" value="{$config['tx_pull']|default=''}">
                                    <p class="help-block"> 不带 http:// ,最后无 /</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input-txcloud_secret_id" class="col-sm-2 control-label">腾讯云Api密钥SecretId</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-txcloud_secret_id" name="options[txcloud_secret_id]" value="{$config['txcloud_secret_id']|default=''}">
                                    <p class="help-block">腾讯云连麦混流时身份验证，只在直播+连麦模式时才需要配置，获取方式：腾讯云后台-->用户登录账号下拉菜单-->访问管理-->访问密钥-->API密钥管理</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-txcloud_secret_key" class="col-sm-2 control-label">腾讯云Api密钥SecretKey</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-txcloud_secret_key" name="options[txcloud_secret_key]" value="{$config['txcloud_secret_key']|default=''}">
                                    <p class="help-block">腾讯云连麦混流时身份验证，只在直播+连麦模式时才需要配置，获取方式：腾讯云后台-->用户登录账号下拉菜单-->访问管理-->访问密钥-->API密钥管理</p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="cdn_bd <neq name='config.cdn_switch' value='3'>cdnhide</neq>" id="cdn_switch_3">
                            <div class="form-group">
                                <label for="input-qn_ak" class="col-sm-2 control-label">七牛云AccessKey</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-qn_ak" name="options[qn_ak]" value="{$config['qn_ak']|default=''}"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-qn_sk" class="col-sm-2 control-label">七牛云SecretKey</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-qn_sk" name="options[qn_sk]" value="{$config['qn_sk']|default=''}"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-qn_hname" class="col-sm-2 control-label">七牛云直播空间名称</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-qn_hname" name="options[qn_hname]" value="{$config['qn_hname']|default=''}"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-qn_push" class="col-sm-2 control-label">七牛云推流地址</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-qn_push" name="options[qn_push]" value="{$config['qn_push']|default=''}"> 
                                    <p class="help-block">七牛云直播云域名管理中RTMP推流域名</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-qn_pull" class="col-sm-2 control-label">七牛云播流地址</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-qn_pull" name="options[qn_pull]" value="{$config['qn_pull']|default=''}"> 
                                    <p class="help-block">七牛云直播云域名管理中RTMP播流域名</p>
                                </div>
                            </div>
                        </div>

                        <div class="cdn_bd <neq name='config.cdn_switch' value='4'>cdnhide</neq>" id="cdn_switch_4">
                            <div class="form-group">
                                <label for="input-ws_push" class="col-sm-2 control-label">网宿推流地址</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-ws_push" name="options[ws_push]" value="{$config['ws_push']|default=''}"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-ws_pull" class="col-sm-2 control-label">网宿播流地址</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-ws_pull" name="options[ws_pull]" value="{$config['ws_pull']|default=''}"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-ws_apn" class="col-sm-2 control-label">网宿AppName</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-ws_apn" name="options[ws_apn]" value="{$config['ws_apn']|default=''}"> 
                                </div>
                            </div>
                        </div>

                        <div class="cdn_bd <neq name='config.cdn_switch' value='5'>cdnhide</neq>" id="cdn_switch_5">
                            <div class="form-group">
                                <label for="input-wy_appkey" class="col-sm-2 control-label">网易cdn Appkey</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-wy_appkey" name="options[wy_appkey]" value="{$config['wy_appkey']|default=''}"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-wy_appsecret" class="col-sm-2 control-label">网易cdn AppSecret</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-wy_appsecret" name="options[wy_appsecret]" value="{$config['wy_appsecret']|default=''}"> 
                                </div>
                            </div>
                        </div>

                        <div class="cdn_bd <neq name='config.cdn_switch' value='6'>cdnhide</neq>" id="cdn_switch_6">
                            <div class="form-group">
                                <label for="input-ady_push" class="col-sm-2 control-label">奥点云推流地址</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-ady_push" name="options[ady_push]" value="{$config['ady_push']|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-ady_pull" class="col-sm-2 control-label">奥点云播流地址</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-ady_pull" name="options[ady_pull]" value="{$config['ady_pull']|default=''}"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-ady_hls_pull" class="col-sm-2 control-label">奥点云HLS播流地址</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-ady_hls_pull" name="options[ady_hls_pull]" value="{$config['ady_hls_pull']|default=''}"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-ady_apn" class="col-sm-2 control-label">奥点云AppName</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-ady_apn" name="options[ady_apn]" value="{$config['ady_apn']|default=''}"> 
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="D">
                        <div class="form-group">
                            <label for="input-cash_rate" class="col-sm-2 control-label">提现比例</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-cash_rate" name="options[cash_rate]" value="{$config['cash_rate']|default=''}">
                                <p class="help-block">(整数)提现一元人民币需要的票数</p>
                            </div>
                        </div>
						<div class="form-group">
                            <label for="input-cash_take" class="col-sm-2 control-label">提现抽成(元)</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-cash_take" name="options[cash_take]" value="{$config['cash_take']|default=''}">
                                <p class="help-block">(%-整数)百分比<br/>说明: 当提现比例设置为100映票等于1元时,提现抽成比例设置为10%,那么用户提现1000映票时,通过提现比例转换为10元,平台在从10元的基础上抽成10%,用户最终提现到账金额为9元</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-cash_min" class="col-sm-2 control-label">提现最低额度（元）</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-cash_min" name="options[cash_min]" value="{$config['cash_min']|default=''}">
                                <p class="help-block">可提现的最小额度，低于该额度无法提现</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-cash_start" class="col-sm-2 control-label">每月提现期</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-cash_start" name="options[cash_start]" value="{$config['cash_start']|default=''}" style="width:100px;display:inline-block;"> - 
                                <input type="text" class="form-control" id="input-cash_end" name="options[cash_end]" value="{$config['cash_end']|default=''}" style="width:100px;display:inline-block;">
                                <p class="help-block">每月提现期限，不在时间段无法提现</p> 
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-cash_max_times" class="col-sm-2 control-label">每月提现次数</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-cash_max_times" name="options[cash_max_times]" value="{$config['cash_max_times']|default=''}">
                                <p class="help-block">每月可提现最大次数，0表示不限制</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="E">
                        <div class="form-group">
                            <label for="input-letter_switch" class="col-sm-2 control-label">私信开关</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[letter_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['letter_switch']" value="1">selected</eq>>开启</option>
                                </select>
                                <p class="help-block">关闭后用户间不可私信</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-jpush_sandbox" class="col-sm-2 control-label">极光推送模式</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[jpush_sandbox]">
                                    <option value="0">开发</option>
                                    <option value="1" <eq name="config['jpush_sandbox']" value="1">selected</eq>>生产</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-jpush_key" class="col-sm-2 control-label">极光推送APP_KEY</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-jpush_key" name="options[jpush_key]" value="{$config['jpush_key']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-jpush_secret" class="col-sm-2 control-label">极光推送master_secret</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-jpush_secret" name="options[jpush_secret]" value="{$config['jpush_secret']|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="F">
                        <div class="form-group">
                            <label for="input-aliapp_switch" class="col-sm-2 control-label">{$name_coin}充值支付宝APP开关</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[aliapp_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['aliapp_switch']" value="1">selected</eq>>开启</option>
                                </select>
                                <p class="help-block">支付宝APP支付是否开启</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-aliapp_partner" class="col-sm-2 control-label">支付宝合作者身份ID</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-aliapp_partner" name="options[aliapp_partner]" value="{$config['aliapp_partner']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-aliapp_seller_id" class="col-sm-2 control-label">支付宝登录账号</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-aliapp_seller_id" name="options[aliapp_seller_id]" value="{$config['aliapp_seller_id']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-aliapp_key_android" class="col-sm-2 control-label">支付宝安卓密钥</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" id="input-aliapp_key_android" name="options[aliapp_key_android]" >{$config.aliapp_key_android|default=''}</textarea>
                                <p class="help-block">支付宝安卓密钥pkcs8</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-aliapp_key_ios" class="col-sm-2 control-label">支付宝苹果密钥</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" id="input-aliapp_key_ios" name="options[aliapp_key_ios]" >{$config.aliapp_key_ios|default=''}</textarea>
                                <p class="help-block">支付宝苹果密钥pkcs8</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-aliapp_pc" class="col-sm-2 control-label">{$name_coin}充值支付宝PC开关</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[aliapp_pc]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['aliapp_pc']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-aliapp_check" class="col-sm-2 control-label">支付宝校验码</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-aliapp_check" name="options[aliapp_check]" value="{$config['aliapp_check']|default=''}">
                                <p class="help-block">支付宝校验码（PC扫码支付）（对应为 开放平台=》mapi网关产品=》MD5密钥）</p>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="input-wx_switch_pc" class="col-sm-2 control-label">{$name_coin}充值微信支付PC开关</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[wx_switch_pc]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['wx_switch_pc']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-wx_switch" class="col-sm-2 control-label">{$name_coin}充值微信支付APP开关</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[wx_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['wx_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-wx_appid" class="col-sm-2 control-label">微信开放平台移动应用AppID</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-wx_appid" name="options[wx_appid]" value="{$config['wx_appid']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-wx_appsecret" class="col-sm-2 control-label">微信开放平台移动应用appsecret</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-wx_appsecret" name="options[wx_appsecret]" value="{$config['wx_appsecret']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-wx_mchid" class="col-sm-2 control-label">微信商户号mchid</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-wx_mchid" name="options[wx_mchid]" value="{$config['wx_mchid']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-wx_key" class="col-sm-2 control-label">微信密钥key</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-wx_key" name="options[wx_key]" value="{$config['wx_key']|default=''}">
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <label for="input-shop_aliapp_switch" class="col-sm-2 control-label">店铺支付宝支付APP开关</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[shop_aliapp_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['shop_aliapp_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-shop_wx_switch" class="col-sm-2 control-label">店铺微信支付APP开关</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[shop_wx_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['shop_wx_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-shop_balance_switch" class="col-sm-2 control-label">店铺余额支付APP开关</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[shop_balance_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['shop_balance_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-paidprogram_aliapp_switch" class="col-sm-2 control-label">付费内容支付宝支付APP开关</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[paidprogram_aliapp_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['paidprogram_aliapp_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-paidprogram_wx_switch" class="col-sm-2 control-label">付费内容微信支付APP开关</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[paidprogram_wx_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['paidprogram_wx_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-paidprogram_balance_switch" class="col-sm-2 control-label">付费内容余额支付APP开关</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[paidprogram_balance_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['paidprogram_balance_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="G">
                        <div class="form-group">
                            <label for="input-agent_switch" class="col-sm-2 control-label">邀请开关</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[agent_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['agent_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-distribut1" class="col-sm-2 control-label">一级分成</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-distribut1" name="options[distribut1]" value="{$config['distribut1']|default=''}">%
                                <p class="help-block">一级分成(整数) 注：比例小于40%</p>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="H">
                        <div class="form-group">
                            <label for="input-um_apikey" class="col-sm-2 control-label">友盟OpenApi-apiKey</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-um_apikey" name="options[um_apikey]" value="{$config['um_apikey']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-um_apisecurity" class="col-sm-2 control-label">友盟OpenApi-apiSecurity</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-um_apisecurity" name="options[um_apisecurity]" value="{$config['um_apisecurity']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-um_appkey_android" class="col-sm-2 control-label">友盟Android应用-appkey</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-um_appkey_android" name="options[um_appkey_android]" value="{$config['um_appkey_android']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-um_appkey_ios" class="col-sm-2 control-label">友盟IOS应用-appkey</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-um_appkey_ios" name="options[um_appkey_ios]" value="{$config['um_appkey_ios']|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="I">
                        
                        <div class="form-group">
                            <label for="input-video_audit_switch" class="col-sm-2 control-label">视频审核开关</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[video_audit_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['video_audit_switch']" value="1">selected</eq>>开启</option>
                                </select>
								<p class="help-block">当开关关闭时用户发布视频则无需审核</p>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="input-video_watermark" class="col-sm-2 control-label">视频水印图片</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="hidden" name="options[video_watermark]" id="thumbnail2" value="{$config['video_watermark']|default=''}">
                                <a href="javascript:uploadOneImage('图片上传','#thumbnail2');">
                                    <if condition="empty($config.video_watermark)">
                                    <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                             id="thumbnail2-preview"
                                             style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    <else/>
                                    <img src="{:cmf_get_image_preview_url($config.video_watermark)}"
                                         id="thumbnail2-preview"
                                         style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    </if>
                                </a>
                                <input type="button" class="btn btn-sm btn-cancel-thumbnail2" value="取消图片">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="J">

                        <div class="form-group">
                            <label for="input-shop_system_name" class="col-sm-2 control-label">系统店铺名称</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-shop_system_name" name="options[shop_system_name]" value="{$config['shop_system_name']|default=''}">
                                <p class="help-block">用于个人中心店铺显示和店铺个人中心顶部显示</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-shop_bond" class="col-sm-2 control-label">申请店铺需要的保证金({$name_coin})</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-shop_bond" name="options[shop_bond]" value="{$config['shop_bond']|default=''}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-show_switch" class="col-sm-2 control-label">店铺审核</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[show_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['show_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-shoporder_percent" class="col-sm-2 control-label">店铺订单默认抽成比例</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-shoporder_percent" name="options[shoporder_percent]" value="{$config['shoporder_percent']|default='0'}">%
                                <p class="help-block">0-100之间的整数</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-goods_switch" class="col-sm-2 control-label">商品审核</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[goods_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['goods_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-shop_certificate_desc" class="col-sm-2 control-label">店铺资质说明</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" id="input-shop_certificate_desc" name="options[shop_certificate_desc]" >{$config.shop_certificate_desc|default=''}</textarea>
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-shop_payment_time" class="col-sm-2 control-label">店铺付款失效时间(分钟)</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-shop_payment_time" name="options[shop_payment_time]" value="{$config['shop_payment_time']|default='0'}">
                                <p class="help-block">大于0的整数</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-shop_shipment_time" class="col-sm-2 control-label">店铺发货失效时间(天)</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-shop_shipment_time" name="options[shop_shipment_time]" value="{$config['shop_shipment_time']|default='0'}">
                                <p class="help-block">大于0的整数</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-shop_receive_time" class="col-sm-2 control-label">店铺自动确认收货时间(天)</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-shop_receive_time" name="options[shop_receive_time]" value="{$config['shop_receive_time']|default='0'}">
                                <p class="help-block">大于0的整数</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-shop_refund_time" class="col-sm-2 control-label">买家发起退款,卖家不做处理自动退款时间(天)</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-shop_refund_time" name="options[shop_refund_time]" value="{$config['shop_refund_time']|default='0'}">
                                <p class="help-block">大于0的整数</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-shop_refund_finish_time" class="col-sm-2 control-label">卖家拒绝买家退款后,买家不做任何操作,订单自动进入退款前状态的时间(天)</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-shop_refund_finish_time" name="options[shop_refund_finish_time]" value="{$config['shop_refund_finish_time']|default='0'}">
                                <p class="help-block">大于0的整数</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-shop_receive_refund_time" class="col-sm-2 control-label">订单确认收货后,支持退货退款的时间限制(天)</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-shop_receive_refund_time" name="options[shop_receive_refund_time]" value="{$config['shop_receive_refund_time']|default='0'}">
                                <p class="help-block">大于0的整数</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-shop_settlement_time" class="col-sm-2 control-label">订单确认收货后,货款自动打到卖家的时间(天)</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-shop_settlement_time" name="options[shop_settlement_time]" value="{$config['shop_settlement_time']|default='0'}">
                                <p class="help-block">大于0的整数</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-balance_cash_min" class="col-sm-2 control-label">余额提现最低额度（元）</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-balance_cash_min" name="options[balance_cash_min]" value="{$config['balance_cash_min']|default=''}">
                                <p class="help-block">可提现的最小额度，低于该额度无法提现</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-balance_cash_start" class="col-sm-2 control-label">每月提现期限</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-balance_cash_start" name="options[balance_cash_start]" value="{$config['balance_cash_start']|default=''}" style="width:100px;display:inline-block;"> - 
                                <input type="text" class="form-control" id="input-balance_cash_end" name="options[balance_cash_end]" value="{$config['balance_cash_end']|default=''}" style="width:100px;display:inline-block;">
                                <p class="help-block">每月提现期限，不在时间段无法提现 </p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-balance_cash_max_times" class="col-sm-2 control-label">每月提现次数</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-balance_cash_max_times" name="options[balance_cash_max_times]" value="{$config['balance_cash_max_times']|default=''}">
                                <p class="help-block">每月可提现最大次数，0表示不限制</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-shoporder_percent" class="col-sm-2 control-label">店铺机制说明</label>
                            <div class="col-md-6 col-sm-10">
                                <p class="help-block">1:用户下单后{$config['shop_payment_time']|default='0'}分钟不付款，系统自动将订单关闭</p>
                                <p class="help-block">2:买家付款成功后，卖家超过{$config['shop_shipment_time']|default='0'}天未发货，系统自动关闭,商品所花费金额退还到买家账户余额中</p>
                                <p class="help-block">3:商家发货后，买家超过{$config['shop_receive_time']|default='0'}天未确认收货，系统自动确认收货，商品所花费金额自动转到卖家账户余额中</p>
                                <p class="help-block">4:买家发起退款后,卖家超过{$config['shop_refund_time']|default='0'}天未做处理，系统自动退款，商品所花费金额自动转到买家账户余额中</p>
                                <p class="help-block">5:卖家拒绝买家退款后,买家不做任何操作,超过{$config['shop_refund_finish_time']|default='0'}天退款处理 系统自动完成，订单自动进入退款前状态</p>
                                <p class="help-block">6:买家确认收货后,{$config['shop_receive_refund_time']|default='0'}天内可以发起退货退款</p>
                                <p class="help-block">7:买家确认收货后,超过{$config['shop_settlement_time']|default='0'}天系统自动结算，将货款转给卖家</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane" id="K">
                        <div class="form-group">
                            <label for="input-dynamic_auth" class="col-sm-2 control-label">动态认证开关</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[dynamic_auth]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['dynamic_auth']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-dynamic_switch" class="col-sm-2 control-label">动态审核</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[dynamic_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['dynamic_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-comment_weight" class="col-sm-2 control-label">评论权重值</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-comment_weight" name="options[comment_weight]" value="{$config['comment_weight']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-like_weight" class="col-sm-2 control-label">点赞权重值</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-like_weight" name="options[like_weight]" value="{$config['like_weight']|default=''}">
                            </div>
                        </div>
                        
                        

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane" id="L">
                        <div class="form-group">
                            <label for="input-dynamic_auth" class="col-sm-2 control-label"></label>
                            <div class="col-md-6 col-sm-10">
								<span style="color:#ff0000">系统干预：人为控制游戏结果，保证平台收益<br>
                                    &nbsp;&nbsp;&nbsp;当进行系统干预时，<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;普通游戏：总是下注金额最少的位置获胜<br>
                                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上庄游戏：庄家全胜<br> -->
                                    &nbsp;&nbsp;&nbsp;&nbsp;不进行系统干预时：<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;游戏结果完全随机
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-shop_fans" class="col-sm-2 control-label">游戏开关</label>
                            <div class="col-md-6 col-sm-10">
                                <php>
									$game1='1';
									$game3='3';
									$game4='4';
								</php>
								<label class="checkbox-inline"><input type="checkbox" value="1" name="game_switch[]" <in value="$config['game_switch']" name="game1">checked="checked"</in>>智勇三张</label>
								<label class="checkbox-inline"><input type="checkbox" value="3" name="game_switch[]" <in value="$config['game_switch']" name="game3">checked="checked"</in>>转盘</label>
								<label class="checkbox-inline" style="display:none;"><input type="checkbox" value="4" name="game_switch[]" <in value="$config['game_switch']" name="game4">checked="checked"</in>>开心牛仔</label>
                            </div>
                        </div>
                        
                        
                        <div class="form-group" style="display:none;">
                            <label for="input-game_banker_limit" class="col-sm-2 control-label">上庄限制</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-game_banker_limit" name="options[game_banker_limit]" value="{$config['game_banker_limit']|default=''}"> 上庄游戏 申请上庄的用户拥有的钻石数的最低值
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-game_odds" class="col-sm-2 control-label">普通游戏赔率</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-game_odds" name="options[game_odds]" value="{$config['game_odds']|default=''}">% 
                                <p class="help-block">游戏结果不进行系统干预的概率，0 表示 完全进行 系统干预，平台绝对不会赔，100 表示完全随机</p>
                            </div>
                        </div>
                        
                        <div class="form-group" style="display:none;">
                            <label for="input-game_odds_p" class="col-sm-2 control-label">系统坐庄游戏赔率</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-game_odds_p" name="options[game_odds_p]" value="{$config['game_odds_p']|default=''}">% 
                                <p class="help-block">游戏结果不进行系统干预的概率 0 表示 完全进行 系统干预，庄家绝对不会赔，100 表示完全随机</p>
                            </div>
                        </div>
                        
                        <div class="form-group" style="display:none;">
                            <label for="input-game_odds_u" class="col-sm-2 control-label">用户坐庄游戏赔率</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-game_odds_u" name="options[game_odds_u]" value="{$config['game_odds_u']|default=''}">% 
                                <p class="help-block">游戏结果不进行系统干预的概率 0 表示 完全进行 系统干预，庄家绝对不会赔，100 表示完全随机</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-game_pump" class="col-sm-2 control-label">游戏抽水</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-game_pump" name="options[game_pump]" value="{$config['game_pump']|default=''}">% 
                                <p class="help-block">用户获胜后，去除本金部分的抽成比例 </p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-turntable_switch" class="col-sm-2 control-label">直播间大转盘开关</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[turntable_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['turntable_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="M">
                        
                        <div class="form-group">
                            <label for="input-express_type" class="col-sm-2 control-label">物流模式</label>
                            <div class="col-md-6 col-sm-10">
                                <label class="radio-inline"><input type="radio" name="options[express_type]" value="0" <eq name="config['express_type']" value="0">checked</eq> >开发版</label>
                                <label class="radio-inline"><input type="radio" name="options[express_type]" value="1" <eq name="config['express_type']" value="1">checked</eq> >正式版</label>
                                <p class="help-block">开发版仅适用于程序调试,每天查询最多500次,且只支持申通、圆通、百世、天天;</p>
                                <p class="help-block">正式运营后,请购买三方套餐,将正式版电商EBusinessID和AppKey填写,并且将此处的物流模式切换为正式版；<a href="http://www.kdniao.com" target="_blank">立即购买</a></p>

                            </div>

                        </div>

                        <div class="form-group">
                            <label for="input-express_id_dev" class="col-sm-2 control-label">用户ID（开发版）</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-express_id_dev" name="options[express_id_dev]" value="{$config['express_id_dev']|default=''}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-express_appkey_dev" class="col-sm-2 control-label">Api Key（开发版）</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-express_appkey_dev" name="options[express_appkey_dev]" value="{$config['express_appkey_dev']|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-express_id" class="col-sm-2 control-label">用户ID (正式版)</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-express_id" name="options[express_id]" value="{$config['express_id']|default=''}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-express_appkey" class="col-sm-2 control-label">Api Key (正式版)</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-express_appkey" name="options[express_appkey]" value="{$config['express_appkey']|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
					
					
                    <div class="tab-pane" id="N">
                        
                        <div class="form-group">
                            <label for="input-watch_live_term" class="col-sm-2 control-label">观看直播</label>
                            <div class="col-md-6 col-sm-10"><br />
                                条件(分钟)：<input type="text" class="form-control" id="input-watch_live_term" name="options[watch_live_term]" value="{$config['watch_live_term']|default='0'}"><br />
                                奖励(钻石)：<input type="text" class="form-control" id="input-watch_live_coin" name="options[watch_live_coin]" value="{$config['watch_live_coin']|default='0'}">
								
								<br />注：切记!填写的条件和奖励一定要填写整数;例: 当用户观看直播时长达到X分钟时奖励X钻石
                            </div>
							
                        </div>
                       
						
						 <div class="form-group">
                            <label for="input-watch_video_term" class="col-sm-2 control-label">观看视频</label>
                            <div class="col-md-6 col-sm-10"><br />
                                条件(分钟)：<input type="text" class="form-control" id="input-watch_video_term" name="options[watch_video_term]" value="{$config['watch_video_term']|default='0'}"><br />
                                奖励(钻石)：<input type="text" class="form-control" id="input-watch_video_coin" name="options[watch_video_coin]" value="{$config['watch_video_coin']|default='0'}">
								<br />注：切记!填写的条件和奖励一定要填写整数;例: 当用户观看视频时长达到X分钟时奖励X钻石
                            </div>
							
                        </div>
						
						<div class="form-group">
                            <label for="input-open_live_term" class="col-sm-2 control-label">直播奖励</label>
                            <div class="col-md-6 col-sm-10"><br />
                                条件(小时)：<input type="text" class="form-control" id="input-open_live_term" name="options[open_live_term]" value="{$config['open_live_term']|default='0'}"><br />
                                奖励(钻石)：<input type="text" class="form-control" id="input-open_live_coin" name="options[open_live_coin]" value="{$config['open_live_coin']|default='0'}">
								<br />注：切记!填写的条件和奖励一定要填写整数;例: 当主播每天开播满足X小时可获得奖励X钻石
                            </div>
							
                        </div>
						
						
						<div class="form-group">
                            <label for="input-award_live_term" class="col-sm-2 control-label">打赏奖励</label>
                            <div class="col-md-6 col-sm-10"><br />
                                条件(钻石)：<input type="text" class="form-control" id="input-award_live_term" name="options[award_live_term]" value="{$config['award_live_term']|default='0'}"><br />
                                奖励(钻石)：<input type="text" class="form-control" id="input-award_live_coin" name="options[award_live_coin]" value="{$config['award_live_coin']|default='0'}">
								<br />注：切记!填写的条件和奖励一定要填写整数;例: 当用户打赏主播超过X钻石，奖励X钻石
                            </div>
							
                        </div>
						
						<div class="form-group">
                            <label for="input-share_live_term" class="col-sm-2 control-label">分享奖励</label>
                            <div class="col-md-6 col-sm-10"><br />
                                条件(次)：<input type="text" class="form-control" id="input-share_live_term" name="options[share_live_term]" value="{$config['share_live_term']|default='0'}"><br />
                                奖励(钻石)：<input type="text" class="form-control" id="input-share_live_coin" name="options[share_live_coin]" value="{$config['share_live_coin']|default='0'}">
								<br />注：切记!填写的条件和奖励一定要填写整数;例:用户每日分享直播间X次可获得奖励X钻石
                            </div>
							
                        </div>
                        
                       

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
    </form>

</div>
<script type="text/javascript" src="__STATIC__/js/admin.js"></script>
<script>
(function(){

    $('.btn-cancel-thumbnail2').click(function () {
        $('#thumbnail2-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
        $('#thumbnail2').val('');
    });
    

    $("#sdk label").on('click',function(){
        var v=$("input",this).val();
        if(v==1){
            $("#cdn label input[type=radio]").attr('disabled','disabled');
            $("#cdn label input[type=radio][value=2]").removeAttr('disabled');
            $("#cdn label").eq(1).click();
        }else{
            $("#cdn label input[type=radio]").removeAttr('disabled');
        }
    })
    
    $("#cdn label").on('click',function(){
        var v_d=$("input",this).attr('disabled');
        if(v_d=='disabled'){
            return !1;
        }
        var v=$("input",this).val();
        var b=$("#cdn_switch_"+v);
        $(".cdn_bd").hide();
        b.show();
    })
    
    $("#cloudtype label").on('click',function(){
        var v=$("input",this).val();
        var b=$("#cloudtype_"+v);
        $(".cloudtype_bd").siblings('.cloudtype_bd').hide();
        b.show();
    })
	
	$("#duanxin label").on('click',function(){
        var v_d=$("input",this).attr('disabled');
        if(v_d=='disabled'){
            return !1;
        }
        var v=$("input",this).val();
        var b=$("#typecode_switch_"+v);
        $(".code_bd").hide();
        b.show();
    })

       
    
})()
</script>
</body>
</html>
