<include file="public@header"/>
<style>
.control3{
    display:inline;
    width:300px;
}
</style>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#A" data-toggle="tab">{:lang('WEB_SITE_INFOS')}</a></li>
        <li><a href="#B" data-toggle="tab">{:lang('SEO_SETTING')}</a></li>
        <li><a href="#C" data-toggle="tab">APP版本管理</a></li>
        <li><a href="#D" data-toggle="tab">登录开关</a></li>
        <li><a href="#E" data-toggle="tab">分享设置</a></li>
        <li><a href="#H" data-toggle="tab">直播管理</a></li>
        <li><a href="#I" data-toggle="tab">美颜/萌颜</a></li>
        <li><a href="#J" data-toggle="tab">付费内容</a></li>
        <li><a href="#K" data-toggle="tab">登录协议弹窗</a></li>
        <!-- <li><a href="#G" data-toggle="tab">CDN设置</a></li> -->
    </ul>
    <form class="form-horizontal js-ajax-form margin-top-20" role="form" action="{:url('setting/sitePost')}"
          method="post">
        <fieldset>
            <div class="tabbable">
                <div class="tab-content">
                    <div class="tab-pane active" id="A">
                        <div class="form-group">
                            <label for="input-maintain_switch" class="col-sm-2 control-label">网站维护</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[maintain_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="site_info['maintain_switch']" value="1">selected</eq>>开启</option>
                                </select>
                                <p class="help-block">网站维护开启后，无法开启直播，进入直播间</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-maintain_tips" class="col-sm-2 control-label">维护提示</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" id="input-maintain_tips" name="options[maintain_tips]" >{$site_info.maintain_tips|default=''}</textarea>
                                <p class="help-block">维护提示信息（200字以内）</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-company_name" class="col-sm-2 control-label">公司名称</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-company_name" name="options[company_name]"
                                       value="{$site_info.company_name|default=''}">
                                       <p class="help-block">公司名称(网站下载页关于我们使用)</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  for="input-company_desc" class="col-sm-2 control-label">公司简介</label>
                            <div class="col-md-6 col-sm-10">        
                                <textarea  class="form-control" name="options[company_desc]">{$site_info['company_desc']|default=''}</textarea>
                                <p class="help-block">公司简介（网站下载页关于我们使用,字数在200字以内）</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-site-name" class="col-sm-2 control-label"><span
                                    class="form-required"></span>{:lang('WEBSITE_NAME')}</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-site-name" name="options[site_name]"
                                       value="{$site_info.site_name|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-site" class="col-sm-2 control-label"><span
                                    class="form-required"></span>网站域名</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-site-name" name="options[site]" value="{$site_info.site|default=''}">
                                <p class="help-block">格式： http(s)://xxxx.com(:端口号)</p>
                            </div> 
                        </div>
                        <div class="form-group" style="display:none;">
                            <label for="input-admin_url_password" class="col-sm-2 control-label">
                                后台加密码
                                <a href="http://www.thinkcmf.com/faq.html?url=https://www.kancloud.cn/thinkcmf/faq/493509"
                                   title="查看帮助手册"
                                   data-toggle="tooltip"
                                   target="_blank"><i class="fa fa-question-circle"></i></a>
                            </label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-admin_url_password"
                                       name="admin_settings[admin_password]"
                                       value="{$admin_settings.admin_password|default=''}"
                                       id="js-site-admin-url-password">
                                <p class="help-block">英文字母数字，不能为纯数字</p>
                                <p class="help-block" style="color: red;">
                                    设置加密码后必须通过以下地址访问后台,请劳记此地址，为了安全，您也可以定期更换此加密码!</p>
                                <php>
                                    $root=cmf_get_root();
                                    $root=empty($root)?'':'/'.$root;
                                    $site_domain = cmf_get_domain().$root;
                                </php>
                                <p class="help-block">后台登录地址：<span id="js-site-admin-url">{$site_domain}/{$admin_settings.admin_password|default='admin'}</span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group" style="display:none;">
                            <label for="input-site_admin_theme" class="col-sm-2 control-label">后台模板</label>
                            <div class="col-md-6 col-sm-10">
                                <php>
                                    $site_admin_theme=empty($admin_settings['admin_theme'])?'':$admin_settings['admin_theme'];
                                </php>
                                <select class="form-control" name="admin_settings[admin_theme]"
                                        id="input-site_admin_theme">
                                    <foreach name="admin_themes" item="vo">
                                        <php>$admin_theme_selected = $site_admin_theme == $vo ? "selected" : "";</php>
                                        <option value="{$vo}" {$admin_theme_selected}>{$vo}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="display:none;">
                            <label for="input-site_adminstyle" class="col-sm-2 control-label">{:lang('WEBSITE_ADMIN_THEME')}</label>
                            <div class="col-md-6 col-sm-10">
                                <php>
                                    $site_admin_style=empty($admin_settings['admin_style'])?cmf_get_admin_style():$admin_settings['admin_style'];
                                </php>
                                <select class="form-control" name="admin_settings[admin_style]"
                                        id="input-site_adminstyle">
                                    <foreach name="admin_styles" item="vo">
                                        <php>$admin_style_selected = $site_admin_style == $vo ? "selected" : "";</php>
                                        <option value="{$vo}" {$admin_style_selected}>{$vo}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <if condition="APP_DEBUG && false">
                            <div class="form-group">
                                <label for="input-default_app" class="col-sm-2 control-label">默认应用</label>
                                <div class="col-md-6 col-sm-10">
                                    <php>
                                        $site_default_app=empty($cmf_settings['default_app'])?'demo':$cmf_settings['default_app'];
                                    </php>
                                    <select class="form-control" name="cmf_settings[default_app]"
                                            id="input-default_app">
                                        <foreach name="apps" item="vo">
                                            <php>$default_app_selected = $site_default_app == $vo ? "selected" : "";
                                            </php>
                                            <option value="{$vo}" {$default_app_selected}>{$vo}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                        </if>
                        <!--
                        <div class="form-group">
                            <label for="input-html_cache_on" class="col-sm-2 control-label">{:lang('HTML_CACHE')}</label>
                            <div class="col-md-6 col-sm-10">
                                <php>$html_cache_on_checked=empty($html_cache_on)?'':'checked';</php>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="options[mobile_tpl_enabled]" value="1" id="input-html_cache_on" {$html_cache_on_checked}></label>
                                </div>
                            </div>
                        </div>
                        -->
                        <div class="form-group">
                            <label for="input-copyright" class="col-sm-2 control-label">版权信息</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" id="input-copyright" name="options[copyright]" >{$site_info.copyright|default=''}</textarea>
                                <p class="help-block">版权信息（200字以内）</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-name_coin" class="col-sm-2 control-label">钻石名称</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-name_coin" name="options[name_coin]"
                                       value="{$site_info.name_coin|default=''}"> 
                                       <p class="help-block">用户充值得到的虚拟币名称</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-name_score" class="col-sm-2 control-label">积分名称</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-name_score" name="options[name_score]"
                                       value="{$site_info.name_score|default=''}">
                                       <p class="help-block">直播间玩游戏得到的虚拟币名称</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-name_votes" class="col-sm-2 control-label">映票名称</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-name_votes"
                                       name="options[name_votes]"
                                       value="{$site_info.name_votes|default=''}">
                                       <p class="help-block">主播获得的虚拟票名称</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-mobile" class="col-sm-2 control-label">公司电话</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-mobile"
                                       name="options[mobile]"
                                       value="{$site_info.mobile|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-address" class="col-sm-2 control-label">公司地址</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-address"
                                       name="options[address]"
                                       value="{$site_info.address|default=''}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-apk_ewm" class="col-sm-2 control-label">android版下载二维码</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="hidden" name="options[apk_ewm]" id="thumbnail1" value="{$site_info['apk_ewm']|default=''}">
                                <a href="javascript:uploadOneImage('图片上传','#thumbnail1');">
                                    <if condition="empty($site_info.apk_ewm)">
                                    <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                             id="thumbnail1-preview"
                                             style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    <else/>
                                    <img src="{:cmf_get_image_preview_url($site_info.apk_ewm)}"
                                         id="thumbnail1-preview"
                                         style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    </if>
                                </a>
                                <input type="button" class="btn btn-sm btn-cancel-thumbnail1" value="取消图片">  PC首页用
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-ipa_ewm" class="col-sm-2 control-label">iPhone版下载二维码</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="hidden" name="options[ipa_ewm]" id="thumbnail2" value="{$site_info['ipa_ewm']|default=''}">
                                <a href="javascript:uploadOneImage('图片上传','#thumbnail2');">
                                    <if condition="empty($site_info.ipa_ewm)">
                                    <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                             id="thumbnail2-preview"
                                             style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    <else/>
                                    <img src="{:cmf_get_image_preview_url($site_info.ipa_ewm)}"
                                         id="thumbnail2-preview"
                                         style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    </if>
                                </a>
                                <input type="button" class="btn btn-sm btn-cancel-thumbnail2" value="取消图片">  PC首页用
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-wechat_ewm" class="col-sm-2 control-label">微信公众号</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="hidden" name="options[wechat_ewm]" id="thumbnail3" value="{$site_info['wechat_ewm']|default=''}">
                                <a href="javascript:uploadOneImage('图片上传','#thumbnail3');">
                                    <if condition="empty($site_info.wechat_ewm)">
                                    <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                             id="thumbnail3-preview"
                                             style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    <else/>
                                    <img src="{:cmf_get_image_preview_url($site_info.wechat_ewm)}"
                                         id="thumbnail3-preview"
                                         style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    </if>
                                </a>
                                <input type="button" class="btn btn-sm btn-cancel-thumbnail3" value="取消图片"> 首页使用 建议尺寸  200 X 200
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-sina_icon" class="col-sm-2 control-label">官微A图标</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="hidden" name="options[sina_icon]" id="thumbnail4" value="{$site_info['sina_icon']|default=''}">
                                <a href="javascript:uploadOneImage('图片上传','#thumbnail4');">
                                    <if condition="empty($site_info.sina_icon)">
                                    <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                             id="thumbnail4-preview"
                                             style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    <else/>
                                    <img src="{:cmf_get_image_preview_url($site_info.sina_icon)}"
                                         id="thumbnail4-preview"
                                         style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    </if>
                                </a>
                                <input type="button" class="btn btn-sm btn-cancel-thumbnail4" value="取消图片">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-sina_title" class="col-sm-2 control-label">官微A标题</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-sina_title"
                                       name="options[sina_title]"
                                       value="{$site_info.sina_title|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-sina_desc" class="col-sm-2 control-label">官微A描述</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-sina_desc"
                                       name="options[sina_desc]"
                                       value="{$site_info.sina_desc|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-sina_url" class="col-sm-2 control-label">官微A链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-sina_url"
                                       name="options[sina_url]"
                                       value="{$site_info.sina_url|default=''}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-qq_icon" class="col-sm-2 control-label">官微B图标</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="hidden" name="options[qq_icon]" id="thumbnail5" value="{$site_info['qq_icon']|default=''}">
                                <a href="javascript:uploadOneImage('图片上传','#thumbnail5');">
                                    <if condition="empty($site_info.qq_icon)">
                                    <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                             id="thumbnail5-preview"
                                             style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    <else/>
                                    <img src="{:cmf_get_image_preview_url($site_info.qq_icon)}"
                                         id="thumbnail5-preview"
                                         style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    </if>
                                </a>
                                <input type="button" class="btn btn-sm btn-cancel-thumbnail5" value="取消图片">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-qq_title" class="col-sm-2 control-label">官微B标题</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-qq_title"
                                       name="options[qq_title]"
                                       value="{$site_info.qq_title|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-qq_desc" class="col-sm-2 control-label">官微B描述</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-qq_desc"
                                       name="options[qq_desc]"
                                       value="{$site_info.qq_desc|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-qq_url" class="col-sm-2 control-label">官微B链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-qq_url"
                                       name="options[qq_url]"
                                       value="{$site_info.qq_url|default=''}">
                                       <p class="help-block">以http://或https://开头</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="1">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="B">
                        <div class="form-group">
                            <label for="input-site_seo_title" class="col-sm-2 control-label">{:lang('WEBSITE_SEO_TITLE')}</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-site_seo_title"
                                       name="options[site_seo_title]" value="{$site_info.site_seo_title|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-site_seo_keywords" class="col-sm-2 control-label">{:lang('WEBSITE_SEO_KEYWORDS')}</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-site_seo_keywords"
                                       name="options[site_seo_keywords]"
                                       value="{$site_info.site_seo_keywords|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-site_seo_description" class="col-sm-2 control-label">{:lang('WEBSITE_SEO_DESCRIPTION')}</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" id="input-site_seo_description"
                                          name="options[site_seo_description]">{$site_info.site_seo_description|default=''}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane" id="C">
                        <div class="form-group">
                            <label for="input-isup" class="col-sm-2 control-label">强制更新</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[isup]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="site_info['isup']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-apk_ver" class="col-sm-2 control-label">APK版本号</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-apk_ver"
                                       name="options[apk_ver]" value="{$site_info.apk_ver|default=''}">
                                       <p class="help-block">安卓APP最新的版本号，请勿随意修改</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-apk_url" class="col-sm-2 control-label">APK下载链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input  id="input-apk_url" class="form-control" type="text" name="options[apk_url]" value="{$site_info.apk_url|default=''}">
                                <a href="javascript:uploadOne('安卓包上传','#input-apk_url','file');" class="btn btn-primary js-ajax-submit">上传</a>
                                <p class="help-block">安卓最新版APK下载链接</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-apk_des" class="col-sm-2 control-label">APK更新说明</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" id="input-apk_des"
                                          name="options[apk_des]">{$site_info.apk_des|default=''}</textarea>
                                          <p class="help-block">APK更新说明（200字以内）</p>
                            </div>
                        </div>
<!--                        <div class="form-group">
                            <label for="input-ipa_ver" class="col-sm-2 control-label">IPA版本号</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-ipa_ver"
                                       name="options[ipa_ver]" value="{$site_info.ipa_ver|default=''}">
                                       <p class="help-block">IOS APP最新的版本号，请勿随意修改</p>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="input-ios_shelves" class="col-sm-2 control-label">IPA上架版本号</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-ios_shelves"
                                       name="options[ios_shelves]" value="{$site_info.ios_shelves|default=''}">
                                       <p class="help-block">IOS上架审核中版本的版本号(用于上架期间隐藏上架版本部分功能,不要和IPA版本号相同)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-ipa-type" class="col-sm-2 control-label">签名类型</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[ipa_type]">
                                    <option value="1" <eq name="site_info['ipa_type']" value="3">selected</eq>>TF签</option>
                                    <option value="2" <eq name="site_info['ipa_type']" value="3">selected</eq>>企业签</option>
                                    <option value="3" <eq name="site_info['ipa_type']" value="3">selected</eq>>超级签</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-tf-ipa_url" class="col-sm-2 control-label">TF签下载链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-tf-ipa_url"
                                       name="options[tf_ipa_url]" value="{$site_info.tf_ipa_url|default=''}">
                                <p class="help-block">IOS最新版TF签下载链接</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-c-ipa_url" class="col-sm-2 control-label">企业签下载链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-c-ipa_url"
                                       name="options[c_ipa_url]" value="{$site_info.c_ipa_url|default=''}">
                                <p class="help-block">IOS最新版企业签下载链接</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-super-ipa-url" class="col-sm-2 control-label">超级签下载链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-super-ipa_url"
                                       name="options[super_ipa_url]" value="{$site_info.super_ipa_url|default=''}">
                                       <p class="help-block">IOS最新版超级签下载链接</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-ipa_des" class="col-sm-2 control-label">IPA更新说明</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" id="input-ipa_des"
                                          name="options[ipa_des]">{$site_info.ipa_des|default=''}</textarea>
                                          <p class="help-block">IPA更新说明（200字以内）</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-qr_url" class="col-sm-2 control-label">二维码下载链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="hidden" name="options[qr_url]" id="thumbnail6" value="{$site_info['qr_url']|default=''}">
                                <a href="javascript:uploadOneImage('图片上传','#thumbnail6');">
                                    <if condition="empty($site_info.qr_url)">
                                    <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                             id="thumbnail6-preview"
                                             style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    <else/>
                                    <img src="{:cmf_get_image_preview_url($site_info.qr_url)}"
                                         id="thumbnail6-preview"
                                         style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    </if>
                                </a>
                                <input type="button" class="btn btn-sm btn-cancel-thumbnail6" value="取消图片">
                                <p class="help-block">PC下载页面用 二维码生成链接：{$site_info['site']}/Portal/index/scanqr   </p> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane" id="D">
                        <div class="form-group">
                            <label for="input-site-name" class="col-sm-2 control-label">登录方式</label>
                            <div class="col-md-6 col-sm-10">
                                <php>
									$qq='qq';
									$wx='wx';
									$sina='sina';
									$facebook='facebook';
									$twitter='twitter';
                                    $ios='ios';
								</php>
								<label class="checkbox-inline"><input type="checkbox" value="qq" name="login_type[]" <in value="$site_info['login_type']" name="qq">checked="checked"</in>>QQ</label>
								<label class="checkbox-inline"><input type="checkbox" value="wx" name="login_type[]" <in value="$site_info['login_type']" name="wx">checked="checked"</in>>微信</label>
								<label class="checkbox-inline"><input type="checkbox" value="facebook" name="login_type[]" <in value="$site_info['login_type']" name="facebook">checked="checked"</in>>FaceBook</label>
								<label class="checkbox-inline"><input type="checkbox" value="twitter" name="login_type[]" <in value="$site_info['login_type']" name="twitter">checked="checked"</in>>Twitter</label>
                                <label class="checkbox-inline"><input type="checkbox" value="ios" name="login_type[]" <in value="$site_info['login_type']" name="ios">checked="checked"</in>>iOS</label>
								
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-site-name" class="col-sm-2 control-label">分享方式</label>
                            <div class="col-md-6 col-sm-10">
                                <php>
                                    $share_qq='qq';
									$share_qzone='qzone';
									$share_wx='wx';
									$share_wchat='wchat';
									$share_sina='sina';
									$share_facebook='facebook';
									$share_twitter='twitter';
								</php>
								<label class="checkbox-inline"><input type="checkbox" value="qq" name="share_type[]" <in value="$site_info['share_type']" name="share_qq">checked="checked"</in>>QQ</label>
								<label class="checkbox-inline"><input type="checkbox" value="qzone" name="share_type[]" <in value="$site_info['share_type']" name="share_qzone">checked="checked"</in>>QQ空间</label>
								<label class="checkbox-inline"><input type="checkbox" value="wx" name="share_type[]" <in value="$site_info['share_type']" name="share_wx">checked="checked"</in>>微信</label>
								<label class="checkbox-inline"><input type="checkbox" value="wchat" name="share_type[]" <in value="$site_info['share_type']" name="share_wchat">checked="checked"</in>>微信朋友圈</label>
								<label class="checkbox-inline"><input type="checkbox" value="facebook" name="share_type[]" <in value="$site_info['share_type']" name="share_facebook">checked="checked"</in>>FaceBook</label>
								<label class="checkbox-inline"><input type="checkbox" value="twitter" name="share_type[]" <in value="$site_info['share_type']" name="share_twitter">checked="checked"</in>>Twitter</label>
								
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane" id="E">
                        <div class="form-group">
                            <label for="input-wx_siteurl" class="col-sm-2 control-label">微信推广域名</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-wx_siteurl"
                                       name="options[wx_siteurl]" value="{$site_info.wx_siteurl|default=''}">
                                       <p class="help-block">http:// 开头 参数值为用户ID</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-share_title" class="col-sm-2 control-label">直播分享标题</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-share_title"
                                       name="options[share_title]" value="{$site_info.share_title|default=''}">
                                <p class="help-block">{username}代表了用户昵称，分享时，app端会将该变量替换为直播用户的昵称，格式必须固定为{username}；如果不需要显示直播用户的昵称，此处可以不配置{username}</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-share_des" class="col-sm-2 control-label">直播分享话术</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-share_des"
                                       name="options[share_des]" value="{$site_info.share_des|default=''}">
                                <p class="help-block">如果直播有标题，分享出去的简介就显示直播标题；如果直播没有标题，分享出去的简介就显示该处设置的默认话术</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-app_android" class="col-sm-2 control-label">AndroidAPP下载链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-app_android"
                                       name="options[app_android]" value="{$site_info.app_android|default=''}">
                                <p class="help-block">分享用Android APP 下载链接</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-app_ios" class="col-sm-2 control-label">IOSAPP下载链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-app_ios"
                                       name="options[app_ios]" value="{$site_info.app_ios|default=''}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-video_share_title" class="col-sm-2 control-label">短视频分享标题</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-video_share_title"
                                       name="options[video_share_title]" value="{$site_info.video_share_title|default=''}">
                                <p class="help-block">{username}代表了用户昵称，分享时，app端会将该变量替换为视频用户的昵称，格式必须固定为{username}；如果不需要显示视频用户的昵称，此处可以不配置{username}</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-video_share_des" class="col-sm-2 control-label">短视频分享话术</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-video_share_des"
                                       name="options[video_share_des]" value="{$site_info.video_share_des|default=''}">
                                <p class="help-block">如果视频有标题，分享出去的简介就显示视频标题;如果视频没有标题，分享出去的简介就显示该处设置的默认话术</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane" id="H">
                        <div class="form-group">
                            <label for="input-site-name" class="col-sm-2 control-label">房间类型</label>
                            <div class="col-md-6 col-sm-10">
                                <php>
									$type_0='0;普通房间';
									$type_1='1;密码房间';
									$type_2='2;门票房间';
									$type_3='3;计时房间';
								</php>
                                <label class="checkbox-inline hide"><input type="checkbox" value="0;普通房间" name="live_type[]" checked="checked">普通房间</label>
								<label class="checkbox-inline"><input type="checkbox" value="1;密码房间" name="live_type[]" <in value="$site_info['live_type']" name="type_1">checked="checked"</in>>密码房间</label>
								<label class="checkbox-inline"><input type="checkbox" value="2;门票房间" name="live_type[]" <in value="$site_info['live_type']" name="type_2">checked="checked"</in>>门票房间</label>
								<label class="checkbox-inline"><input type="checkbox" value="3;计时房间" name="live_type[]" <in value="$site_info['live_type']" name="type_3">checked="checked"</in>>计时房间</label>
								
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-live_time_coin" class="col-sm-2 control-label">计时直播收费</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-live_time_coin"
                                       name="options[live_time_coin]" value="{$site_info.live_time_coin|default=''}">
                                       <p class="help-block">计时直播收费，价格梯度用 , 分割 例：1,2,3</p>
                            </div>
                        </div>
						<div class="form-group">
                            <label for="input-live_time_coin" class="col-sm-2 control-label">基础推荐值</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="number" oninput="handletj(event)" class="form-control" id="input-live_time_coin"
                                       name="options[cert_score]" value="{$site_info.cert_score|default='100'}">
									   <p class="help-bcert_scorelock">身份认证成功默认推荐值</p>
                                       
                            </div>
                        </div>
						<div class="form-group">
                        <label for="input-live_time_coin" class="col-sm-2 control-label">推荐标签</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="number" class="form-control" id="input-live_time_coin"
                                       name="options[cert_score_tip]" value="{$site_info.cert_score_tip|default='300'}">
									   <p class="help-bcert_scorelock">大于等于推荐值出现推荐便签</p>
                                       
                            </div>
                        </div>
				        <div class="form-group">
                        <label for="input-live_time_coin" class="col-sm-2 control-label">热门标签</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="number" class="form-control" id="input-live_time_coin"
                                       name="options[hot_score_tip]" value="{$site_info.hot_score_tip|default='100'}">
									   <p class="help-bcert_scorelock">大于等于推荐值出现热门便签</p>
                                       
                            </div>
                        </div>    
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane" id="I">
                        <div class="form-group">
                            <label for="input-sprout_key" class="col-sm-2 control-label">萌颜授权码-Andriod</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-sprout_key"
                                       name="options[sprout_key]" value="{$site_info.sprout_key|default=''}">
                                       <p class="help-block">留空 表示使用默认美颜</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-sprout_key_ios" class="col-sm-2 control-label">萌颜授权码-IOS</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-sprout_key_ios"
                                       name="options[sprout_key_ios]" value="{$site_info.sprout_key_ios|default=''}">
                                       <p class="help-block">留空 表示使用默认美颜</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-sprout_white" class="col-sm-2 control-label">美颜</label>
                            <div class="col-md-6 col-sm-10">
                                美白：<input type="text" class="form-control control3" name="options[skin_whiting]" value="{$site_info['skin_whiting']|default='-1'}" > <br><br>
                                磨皮：<input type="text" class="form-control control3" name="options[skin_smooth]" value="{$site_info['skin_smooth']|default='-1'}" > <br><br>
                                红润：<input type="text" class="form-control control3" name="options[skin_tenderness]" value="{$site_info['skin_tenderness']|default='-1'}" > <br><br>
                                <p class="help-block">0-9 整数 -1为不设置</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-sprout_skin" class="col-sm-2 control-label">磨皮默认值</label>
                            <div class="col-md-6 col-sm-10">
                                眉毛：<input type="text" class="form-control control3" name="options[eye_brow]" value="{$site_info['eye_brow']|default='-1'}" > <br><br>
                                大眼：<input type="text" class="form-control control3" name="options[big_eye]" value="{$site_info['big_eye']|default='-1'}" > <br><br>
                                眼距：<input type="text" class="form-control control3" name="options[eye_length]" value="{$site_info['eye_length']|default='-1'}" > <br><br>
                                眼角：<input type="text" class="form-control control3" name="options[eye_corner]" value="{$site_info['eye_corner']|default='-1'}" > <br><br>
                                开眼角：<input type="text" class="form-control control3" name="options[eye_alat]" value="{$site_info['eye_alat']|default='-1'}" > <br><br>
                                瘦脸：<input type="text" class="form-control control3" name="options[face_lift]" value="{$site_info['face_lift']|default='-1'}" > <br><br>
                                削脸：<input type="text" class="form-control control3" name="options[face_shave]" value="{$site_info['face_shave']|default='-1'}" > <br><br>
                                嘴形：<input type="text" class="form-control control3" name="options[mouse_lift]" value="{$site_info['mouse_lift']|default='-1'}" > <br><br>
                                瘦鼻：<input type="text" class="form-control control3" name="options[nose_lift]" value="{$site_info['nose_lift']|default='-1'}" > <br><br>
                                下巴：<input type="text" class="form-control control3" name="options[chin_lift]" value="{$site_info['chin_lift']|default='-1'}" > <br><br>
                                额头：<input type="text" class="form-control control3" name="options[forehead_lift]" value="{$site_info['forehead_lift']|default='-1'}" > <br><br>
                                长鼻：<input type="text" class="form-control control3" name="options[lengthen_noseLift]" value="{$site_info['lengthen_noseLift']|default='-1'}" > <br><br>
                                <p class="help-block">0-100 整数 -1为不设置</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="G">
                        <div class="form-group">
                            <label for="input-cdn_static_root" class="col-sm-2 control-label">静态资源cdn地址</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-cdn_static_root"
                                       name="cdn_settings[cdn_static_root]"
                                       value="{$cdn_settings.cdn_static_root|default=''}">
                                <p class="help-block">
                                    不能以/结尾；设置这个地址后，请将ThinkCMF下的静态资源文件放在其下面；<br>
                                    ThinkCMF下的静态资源文件大致包含以下(如果你自定义后，请自行增加)：<br>
                                    themes/admin_simplebootx/public/assets<br>
                                    static<br>
                                    themes/simplebootx/public/assets<br>
                                    例如未设置cdn前：jquery的访问地址是/static/js/jquery.js, <br>
                                    设置cdn是后它的访问地址就是：静态资源cdn地址/static/js/jquery.js
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="J">
                        <div class="form-group">
                            <label for="input-payment_des" class="col-sm-2 control-label">付费内容申请说明</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" style="min-height: 200px;" id="input-payment_des"
                                          name="options[payment_des]">{$site_info.payment_des|default=''}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-payment_time" class="col-sm-2 control-label">申请付费内容间隔天数(天)</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-payment_time"
                                       name="options[payment_time]" value="{$site_info.payment_time|default='0'}">
                                <p class="help-block">申请付费内容被拒后再次申请的间隔天数</p>     
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-payment_percent" class="col-sm-2 control-label">付费内容默认抽水比例</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-payment_percent"
                                       name="options[payment_percent]" value="{$site_info.payment_percent|default='0'}">
                                <p class="help-block">0-100之间的整数,用户购买付费内容时,给发布者结算时的抽水比例</p>     
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane" id="K">
                        

                        <div class="form-group">
                            <label for="input-login_alert_title" class="col-sm-2 control-label"><span
                                    class="form-required"></span>弹框标题</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-login_alert_title" name="options[login_alert_title]" value="{$site_info.login_alert_title|default=''}">
                            </div> 
                        </div>
                        
                        <div class="form-group">
                            <label for="input-login_alert_content" class="col-sm-2 control-label">弹框内容</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" id="input-login_alert_content" name="options[login_alert_content]" >{$site_info.login_alert_content|default=''}</textarea>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-login_clause_title" class="col-sm-2 control-label"><span
                                    class="form-required"></span>APP登录界面底部协议标题</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-login_clause_title" name="options[login_clause_title]" value="{$site_info.login_clause_title|default=''}">
                            </div> 
                        </div>

                        <div class="form-group">
                            <label for="input-login_private_title" class="col-sm-2 control-label"><span
                                    class="form-required"></span>隐私政策名称</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-login_private_title" name="options[login_private_title]" value="{$site_info.login_private_title|default=''}">
                                <p class="help-block">填写的名称必须与弹框内容和登录界面底部协议标题中填写的名称相符,必须包含书名号《》</p>
                            </div> 
                        </div>

                        <div class="form-group">
                            <label for="input-login_private_url" class="col-sm-2 control-label"><span
                                    class="form-required"></span>隐私政策跳转链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-login_private_url" name="options[login_private_url]" value="{$site_info.login_private_url|default=''}">
                                <p class="help-block">本站链接请以/开头，如：/portal/page/index?id=3 外链请以http://或https://开头</p>
                            </div> 
                        </div>

                        <div class="form-group">
                            <label for="input-login_service_title" class="col-sm-2 control-label"><span
                                    class="form-required"></span>服务协议名称</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-login_service_title" name="options[login_service_title]" value="{$site_info.login_service_title|default=''}">
                                <p class="help-block">填写的名称必须与弹框内容和登录界面底部协议标题中填写的名称相符,必须包含书名号《》</p>
                            </div> 


                        </div>

                        <div class="form-group">
                            <label for="input-login_service_url" class="col-sm-2 control-label"><span
                                    class="form-required"></span>服务协议跳转链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-login_service_url" name="options[login_service_url]" value="{$site_info.login_service_url|default=''}">
                                <p class="help-block">本站链接请以/开头，如：/portal/page/index?id=4 外链请以http://或https://开头</p>
                            </div> 
                        </div>


                        

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="1">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
    </form>

</div>
<script type="text/javascript" src="__STATIC__/js/admin.js"></script>
<script type="text/javascript">
    function handletj(e) {
        let value = parseInt(e.target.value) || 0
        e.target.value = value < 0 ? 0 : value > 1000 ? 1000 : value
        console.log(e.target.value);
    }
    (function(){
        $('.btn-cancel-thumbnail1').click(function () {
            $('#thumbnail1-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
            $('#thumbnail1').val('');
        });
        
        $('.btn-cancel-thumbnail2').click(function () {
            $('#thumbnail2-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
            $('#thumbnail2').val('');
        });
        
        $('.btn-cancel-thumbnail3').click(function () {
            $('#thumbnail3-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
            $('#thumbnail3').val('');
        });
        
        $('.btn-cancel-thumbnail4').click(function () {
            $('#thumbnail4-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
            $('#thumbnail4').val('');
        });
        
        $('.btn-cancel-thumbnail5').click(function () {
            $('#thumbnail5-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
            $('#thumbnail5').val('');
        });
        
        $('.btn-cancel-thumbnail6').click(function () {
            $('#thumbnail6-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
            $('#thumbnail6').val('');
        });
        
    })()

</script>
</body>
</html>
