*{
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);  
-moz-tap-highlight-color:rgba(0, 0, 0, 0);  
-ms-tap-highlight-color:rgba(0, 0, 0, 0);  
-o-tap-highlight-color:rgba(0, 0, 0, 0);  
tap-highlight-color:rgba(0, 0, 0, 0);  

}

body {
    background: #fff;
}

.content{
	margin: 0 auto;
	margin-top: 12%;
}
.feiji{
	text-align: center;
}
.feiji img{
	width: 25%;
	margin-bottom: 10px;
}
.info{
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
}
.error{
	font-size: 24px;
	font-weight: bold;
	color:#323232;
	text-align:center
}
.sorry{
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	color:#333333;
	text-align:center
}
.countdown{
	font-size: 12px;
	text-align:center
}


.button{
	width: 50%;
	height: 40px;
	display: block;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	border-radius: 6px;
	margin-top: 20px;
	color:#969696;
	float: left;
    text-decoration:none;
}
.cuo{
	position: absolute;
	top: -24px;
	width: 30%;
	right: 0;
}