
*{
    padding:0;
	margin: 0;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);  
	-moz-tap-highlight-color:rgba(0, 0, 0, 0);  
	-ms-tap-highlight-color:rgba(0, 0, 0, 0);  
	-o-tap-highlight-color:rgba(0, 0, 0, 0);  
	tap-highlight-color:rgba(0, 0, 0, 0);  
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display: block
}

audio,canvas,progress,video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}
[hidden],template {
	display: none
}

a {
	background: transparent
}

a:active,a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,strong {
	font-weight: bold
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}


code,kbd,pre,samp {
	font-family: monospace,monospace;
	font-size: 1em
}

button,input,optgroup,select,textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,select {
	text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input:focus{
	outline-offset: 0px;
	outline: none;
}
 input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #e5e5e5;
}
select:focus{
	outline-offset: 0px;
	outline: none;
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
	height: auto
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}
textarea::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #e5e5e5;
}

optgroup {
	font-weight: bold
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,th {
	padding: 0
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

ul,ol,dl,li { 
	list-style-type:none;
}

input:focus{outline-offset: 0px;outline: none;}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}

img, fieldset, input[type="submit"] { border: 0 none; }
img { display: inline-block; overflow: hidden; vertical-align: middle; }
em { font-style: normal; }

button, input[type="button"] { cursor: pointer; border: 0 none; }
menu { margin: 0; padding: 0; }
input[type="number"] { -webkit-user-select: text; }
a, button, input, img { -webkit-touch-callout: none; }
input, select, textarea { outline: none; }

html { font-size: 62.5%;	-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100% }
body { font-size: 0.28rem; line-height: 1.5; background: #f5f5f5; color: #323232; -webkit-user-select: none; -webkit-text-size-adjust: none!important; font-family: "Microsoft YaHei", Arial; }

@media screen and (max-width: 350px) {
    html { font-size: 50%;}
}

a {
	color: #323232;
	text-decoration: none
}

a:hover {
	color: #323232;
	text-decoration: none
}

.hide{
	display:none;
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

.clearfix {
    clear: both;
	*zoom: 1;
}




.line{
	height:0.02rem;
	background:#f5f5f5;
}
.line5{
	height:0.1rem;
	background:#f5f5f5;
}
.line10{
	height:0.2rem;
	background:#f5f5f5;
}

.empty{
	margin-top:2rem;
	height:4rem;
	background:url("../images/empty.png") no-repeat center;
}

div.li_empty{
    padding:0.4rem 0;
    line-height:30px;
    text-align:center;
}
div.li_empty .title{
    font-size:0.28rem;
}
div.li_empty .des{
    color:#969696;
    font-size:0.26rem;
}

img.coin{
    height: 0.32rem;
    vertical-align: sub;
}
img.votes{
    height: 0.32rem;
    vertical-align: sub;
}

img.sex{
    height: 0.32rem;
    vertical-align: sub;
}

img.level{
    height: 0.32rem;
    vertical-align: sub;
}

img.levelanchor{
    height: 0.32rem;
    vertical-align: sub;
}
.color_default{
    color:#AE4FFA !important;
}
.bg_default{
    background-color:#AE4FFA !important;
}
.button_default{
    /* background: #FF6131 !important; */
    background: -webkit-linear-gradient(left,#f05bad, #AE4FFA) !important;
    background: -o-linear-gradient(left,#f05bad, #AE4FFA) !important;
    background: -moz-linear-gradient(left,#f05bad, #AE4FFA) !important;
    background: linear-gradient(to right,#f05bad, #AE4FFA) !important;
}

/* layer提示窗修改 */
body .layui-layer{
    box-shadow:none;
    border-radius:0.2rem;
}
body .layui-layer-title{
    padding:0.4rem 0 0;
    text-align:center;
    background:transparent;
    color: #323232;
    font-size:0.32rem;
    font-weight:bold;
    border:none;
}
body .layui-layer-dialog .layui-layer-content{
    padding-top:0.1rem;
    text-align:center;
    color:#646464;
}
body .layui-layer-msg .layui-layer-content{
    padding:0.24rem 0.5rem;
    color:#fff;
}
body .layui-layer-btn{
    padding:0;
    border-top:1px solid #e5e5e5;
    text-align:center;
}
body .layui-layer-btn a{
    margin:0;
    width:50%;
    height:1rem;
    line-height:1rem;
    font-size:0.32rem;
    border:none;
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;    
    background:none;
}
body .layui-layer-btn a.layui-layer-btn0{
    color:#646464;
    background:none;
}
body .layui-layer-btn a.layui-layer-btn1{
    color:#AE4FFA;
    border-left:1px solid #e5e5e5;
}

body .layui-layer-prompt .layui-layer-input{
    border:none;
}
body .layui-layer-prompt .layui-layer-btn {
    padding-top:0;
}
body .layui-layer-prompt .layui-layer-btn a.layui-layer-btn0{
    color:#AE4FFA;
}
body .layui-layer-prompt .layui-layer-btn a.layui-layer-btn1{
    color:#646464;
}