
.tab{
	width:100%;
	height: 1.1rem;
    background:#fff;
}

.tab ul li{
	float:left;
	width:100%;
	height:1rem;
	line-height:1.1rem;
	text-align:center;
	font-size:0.32rem;
	color:#969696;
}
.tab ul li .tab_line{
    display:none;
    width:15%;
    height:0.1rem;
    margin:0 auto;
    border-radius:2px;
}
.tab ul li.on{
	color:#323232;
}
.tab ul li.on .tab_line{
    display:block;
}
.profit_line{
	width:100%;
	height: 0.2rem;
    background:#f5f5f5;
}

.tab_b{
    position:absolute;
	top:2.1rem;
	left:0;
    width: 100%;
    height: calc(100% - 2.1rem);
    background:#fcfcfc;
}
.profit_ul_t{
	position:absolute;
	width:100%;
	height:0.8rem;
	top:0;
	left:0;
	margin-top:-0.8rem;
	background:#fff;
    border-bottom:1px solid #f5f5f5;
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;
}
.profit_ul_t span{
	display:inline-block;
	float:left;
	width:25%;
	height:0.8rem;
	line-height:0.8rem;
	text-align:center;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:0.3rem;
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;
    border-left:1px solid #f5f5f5;
}
.profit_ul_t span:first-child{
    border:none;
}

.profit_ul_t span.name{
    width:30%;
}
.profit_ul_t span.coin{
}
.profit_ul_t span.nums{
    width:17%;
}
.profit_ul_t span.username{
    width:28%;
}

.profit_ul{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	overflow:auto;
}
.profit_ul ul li{
	height:0.8rem;
	line-height:0.8rem;
	border-bottom:1px solid #f5f5f5;
}
.profit_ul ul li span{
	display:inline-block;
	float:left;
	width:25%;
	height:0.8rem;
	line-height:0.8rem;
	text-align:center;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	color:#969696;
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;
    border-left:1px solid #f5f5f5;
}
.profit_ul ul li span:first-child{
    border:none;
}
.profit_ul ul li span.name{
    width:30%;
}
.profit_ul ul li span.coin{
    color:#FF6131;
    text-align:left;
    font-weight: bold;
}
.profit_ul ul li span.coin img{
    width: 0.32rem;
    vertical-align: sub;
    margin:0 0.1rem;
}
.profit_ul ul li span.nums{
    width:17%;
    color:#646464;
}
.profit_ul ul li span.username{
    width:28%;
}