<include file="public@header"/>
<style>
.table img{
	width:25px;
	height:25px;
}

#pop{
    display:none; 
}
</style>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a>主播用户</a></li>
        <li><a href="{:url('user/adminIndex/addauthor')}">新增主播</a></li>
    </ul>
    <form class="well form-inline margin-top-20" method="post" action="{:url('user/adminIndex/authorindex')}">

        用户名/昵称：
        <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
               placeholder="用户名/昵称">

        手机号码：
        <input class="form-control" type="text" name="user_login" style="width: 200px;" value="{:input('request.user_login')}"
               placeholder="手机号码">

         推荐值：
        <input class="form-control" type="text" name="cert_score_1" style="width: 70px;" onkeyup="if(value>1000){value=1000}else{value=value.replace(/[^\d]/g,'')}" value="{:input('request.cert_score_1')}">
        至
        <input class="form-control" type="text" name="cert_score_2" style="width: 70px;" onkeyup="if(value>1000){value=1000}else{value=value.replace(/[^\d]/g,'')}" value="{:input('request.cert_score_2')}">

        最后登录：
        <input class="form-control js-bootstrap-date" name="last_login_time_1" id="last_login_time_1" autocomplete="off" value="{:input('request.last_login_time_1')}" aria-invalid="false" style="width: 110px;"> -
        <input class="form-control js-bootstrap-date" name="last_login_time_2" id="last_login_time_2" autocomplete='off' value="{:input('request.last_login_time_2')}" aria-invalid="false" style="width: 110px;">
        <br/><br/>
        直播状态：
        <select class="form-control" name="islive">
            <option value="">全部</option>
            <option value="1" <if condition="input('request.islive') neq '' && input('request.islive') eq 1">selected</if>>正在直播</option>
            <option value="0" <if condition="input('request.islive') neq '' && input('request.islive') eq 0">selected</if>>未开播</option>
        </select>
        
        账号状态：
        <select class="form-control" name="isban">
            <option value="">全部</option>
            <option value="0" <if condition="input('request.isban') neq '' && input('request.isban') eq 0">selected</if>>正常</option>
            <option value="1" <if condition="input('request.isban') neq '' && input('request.isban') eq 1">selected</if>>禁用</option>
        </select>


        <input type="submit" class="btn btn-primary" value="搜索"/>
        <a class="btn btn-danger" href="{:url('user/adminIndex/authorindex')}">清空</a>
        <br>
        <br>
        已认证主播用户数：{$nums}
    </form>
    <form method="post" class="js-ajax-form" action="{:url('AdminIndex/certScore')}">
        <div class="table-actions">
            <button class="btn btn-primary btn-sm js-ajax-submit" type="submit">推荐</button>
        </div>

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>推荐值</th>
                <th>ID</th>
                <th>{:lang('USERNAME')}</th>
                <th>{:lang('NICENAME')}</th>
                <th>{:lang('AVATAR')}</th>
                <th>手机号</th>
                <th>直播状态</th>
                <th>直播间人气</th>
                <th>{:lang('STATUS')}</th>
                <th>{:lang('LAST_LOGIN_TIME')}</th>
                <th>{:lang('LAST_LOGIN_IP')}</th>
            </tr>
            </thead>
            <tbody>
            <php>
                $user_statuses=array("0"=>lang('USER_STATUS_BLOCKED'),"1"=>lang('USER_STATUS_ACTIVATED'),"2"=>lang('USER_STATUS_UNVERIFIED'));
            </php>
            <foreach name="list" item="vo">
                <tr>
                    <td><input name="cert_scores[{$vo.id}]" class="input-order" type="text" onkeyup="if(value>1000){value=1000}else{value=value.replace(/[^\d]/g,'')}" value="{$vo.cert_score}"></td>
                    <td>{$vo.id}</td>
                    <td>{$vo['user_login']?$vo['user_login']:($vo['mobile']?$vo['mobile']:lang('THIRD_PARTY_USER'))}
                    </td>
                    <td>{$vo['user_nicename']?$vo['user_nicename']:lang('NOT_FILLED')}</td>
                    <td><img src="{$vo['avatar']}" class="imgtip" /></td>
                    <td>{$vo.mobile}</td>
                    <td>{$vo.is_live_text}</td>
                    <td>{$vo.nums}</td>
                    <td>
                        <if condition="$vo['user_status'] eq '3'">
                            已注销
                        <else />

                            <if condition="$vo.user_status eq 0">
                                <span class="label label-danger">{$user_statuses[0]}</span>
                            <elseif condition="$vo.end_bantime gt $nowtime"/>
                                <span class="label label-danger">已禁用</span>
                            <else/>
                                <span class="label label-success">{$user_statuses[1]}</span>
                            </if>

                        </if>
                        
                        
                    </td>
                    <td><if condition="$vo['last_login_time'] gt 0">{:date('Y-m-d H:i:s',$vo['last_login_time'])}<else />--</if></td>
                    <td>{$vo.last_login_ip}</td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <!--<div class="pagination">{//$page}</div>-->
    </form>
</div>

<div id="pop">
    <div class="wrap" style="padding-bottom:40px;">
        <form method="post" class="form-horizontal margin-top-20">
            <div class="form-group">
                <label for="input-user_login" class="col-sm-2 control-label"><span class="form-required">*</span>禁用截止日期</label>
                <div class="col-md-6 col-sm-10">
                    <input class="form-control js-bootstrap-date" name="ban_long" contenteditable="off" id="ban_long" value="" aria-invalid="false">
                </div>
            </div>
            
            <div class="form-group">
                <label for="input-user_login" class="col-sm-2 control-label"><span class="form-required">*</span>禁用原因</label>
                <div class="col-md-6 col-sm-10">
                    <textarea class="form-control" id="ban_reason" name="ban_reason" placeholder="200字以内"></textarea> 
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="javascript:void(0)" class="btn btn-primary" onclick="xiajia_submit()">禁用</a>
                </div>
            </div>
        </form>
    </div>
</div>
            
<script src="__STATIC__/js/admin.js"></script>
<script src="__STATIC__/js/laydate/laydate.js"></script>
</body>
</html>