<include file="public@header"/>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('AdminPage/index')}">页面管理</a></li>
        <li><a href="{:url('AdminPage/add')}">添加页面</a></li>
    </ul>
    <form class="well form-inline margin-top-20" method="post" action="{:url('AdminPage/index')}">
        标题:
        <input type="text" class="form-control" name="keyword" style="width: 200px;"
               value="{$keyword|default=''}" placeholder="请输入关键字">
        <button class="btn btn-primary">搜索</button>
    </form>
    <form class="js-ajax-form" method="post">
        <div class="table-actions">
            <button class="btn btn-danger btn-sm js-ajax-submit" type="submit" data-action="{:url('AdminPage/delete')}"
                    data-subcheck="true" data-msg="{:lang('DELETE_CONFIRM_MESSAGE')}">{:lang('DELETE')}
            </button>
            
             <button class="btn btn-primary btn-sm js-ajax-submit" type="submit" data-action="{:url('AdminPage/listOrder')}">{:lang('SORT')}</button>
        </div>
        <table class="table table-hover table-bordered table-list">
            <thead>
            <tr>
                <th width="16">
                    <label>
                        <input type="checkbox" class="js-check-all" data-direction="x" data-checklist="js-check-x">
                    </label>
                </th>
                <th>排序</th>
                <th width="100">ID</th>
                <th>标题</th>
                <th>链接</th>
                <th width="80">作者</th>
                <th width="160">发布时间</th>
                <th width="80">状态</th>
                <th width="120">操作</th>
            </tr>
            </thead>
            <php>$status=array("1"=>'已发布',"0"=>'未发布');</php>
            <foreach name="pages" item="vo">
                <tr>
                    <td>
                        <!--<if condition="$vo['id'] gt 44">-->
                        <input type="checkbox" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="ids[]"
                               value="{$vo.id}">
                        <!--</if>-->
                    </td>
                    <td><input name="list_orders[{$vo.id}]" class="input-order" type="text" value="{$vo.list_order}"></td>
                    <td>{$vo.id}</td>
                    <td>
                        <!-- <a href="{:url('portal/page/index',array('id'=>$vo['id']))}" target="_blank"> -->
                            {$vo.post_title}
                        <!-- </a> -->
                    </td>
                    <td>{:get_upload_path('/portal/page/index?id='.$vo['id'])}</td>
                    <td>{$vo.user_login}</td>
                    <td>
                        <empty name="vo.published_time">
                            未发布
                            <else/>
                            {:date('Y-m-d H:i',$vo['published_time'])}
                        </empty>
                    </td>
                    <td>
                        <notempty name="vo.post_status">
                            <a data-toggle="tooltip" title="已发布"><i class="fa fa-check"></i></a>
                            <else/>
                            <a data-toggle="tooltip" title="未发布"><i class="fa fa-close"></i></a>
                        </notempty>
                    </td>
                    <td>
                        <a class="btn btn-xs btn-primary" href="{:url('AdminPage/edit',array('id'=>$vo['id']))}">{:lang('EDIT')}</a>
                        <if condition="$vo['id'] gt 44">
                        <a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('AdminPage/delete',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
                        </if>
                    </td>
                </tr>
            </foreach>
<!--            <tfoot>
            <tr>
                <th width="16">
                    <label>
                        <input type="checkbox" class="js-check-all" data-direction="x" data-checklist="js-check-x">
                    </label>
                </th>
                <th width="100">ID</th>
                <th>标题</th>
                <th width="80">作者</th>
                <th width="160">发布时间</th>
                <th>状态</th>
                <th width="120">操作</th>
            </tr>
            </tfoot>-->
        </table>
<!--        <div class="table-actions">
            <button class="btn btn-danger btn-sm js-ajax-submit" type="submit" data-action="{:url('AdminPage/delete')}"
                    data-subcheck="true" data-msg="你确定删除吗？">{:lang('DELETE')}
            </button>
        </div>-->
        <div class="pagination">{$page}</div>
    </form>
</div>
<script src="__STATIC__/js/admin.js"></script>
</body>
</html>