<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('user/userInfo')}">{:lang('ADMIN_USER_USERINFO')}</a></li>
			<li><a href="{:url('setting/password')}">{:lang('ADMIN_SETTING_PASSWORD')}</a></li>
		</ul>
		<form class="form-horizontal js-ajax-form margin-top-20" role="form" method="post" action="{:url('User/userinfoPost')}">
			<div class="form-group">
				<label for="input-user-nickname" class="col-sm-2 control-label">{:lang('NICKNAME')}</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-user-nickname" name="user_nicename" value="{$user_nicename}">
				</div>
			</div>
			<div class="form-group">
				<label for="input-gender" class="col-sm-2 control-label">{:lang('GENDER')}</label>
				<div class="col-md-6 col-sm-10">
					<select class="form-control" name="sex" id="input-gender">
						<php>$sexs=array("0"=>lang('GENDER_SECRECY'),"1"=>lang('MALE'),"2"=>lang('FEMALE'));</php>
						<foreach name="sexs" item="vo">
							<php>$sexselected=$key==$sex?"selected":"";</php>
							<option value="{$key}" {$sexselected}>{$vo}</option>
						</foreach>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="input-birthday" class="col-sm-2 control-label">{:lang('BIRTHDAY')}</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control js-bootstrap-date" id="input-birthday" name="birthday" value="{:date('Y-m-d',$birthday)}" placeholder="2013-01-04">
				</div>
			</div>
			<div class="form-group">
				<label for="input-user_url" class="col-sm-2 control-label">{:lang('WEBSITE')}</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-user_url" name="user_url" value="{$user_url}" placeholder="http://thinkcmf.com">
				</div>
			</div>
			<div class="form-group">
				<label for="input-signature" class="col-sm-2 control-label">{:lang('SIGNATURE')}</label>
				<div class="col-md-6 col-sm-10">
					<textarea class="form-control" id="input-signature" name="signature" placeholder="{:lang('SIGNATURE')}">{$signature}</textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('SAVE')}</button>
				</div>
			</div>
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>