<include file="public@head" />
<title>{$site_info['site_name']}</title>
</head>
<style>
  ._app {
    padding-top: 260px;
    height: 600px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
  }
  ._app::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  ._app li {
    position: relative;
    z-index: 2;
  }
  ._app li.mv {
    transition: all 0.35s ease-in-out;
  }
  ._app li:last-child {
    right: 95px;
    transform: scale(0.75);
  }
  ._app li:nth-child(2) {
    left: 0;
    transform: scale(1);
  }
  ._app li:first-child {
    left: 91px;
    transform: scale(0.75);
  }
  ._app li:first-child .qr {
    position: absolute;
    width: 158px;
    height: 158px;
    border-radius: 8px;
    left: 43px;
    top: 175px;
  }
  ._app li:last-child .qr {
    position: absolute;
    width: 158px;
    height: 158px;
    border-radius: 8px;
    right: 47px;
    top: 194px;
  }
  ._myapp {
    background-image: url(__STATIC__/images/appbg.jpg);
    background-position: top center;
  }
  ._myapp .area_ft {
    display: none;
  }
</style>

<body>
  <div class="_myapp wrapper">
    <include file="public@header" />
    <ul class="_app" onmousemove="mm(event)" onmouseleave="ml(event)" onmouseenter="me()">
      <li class="mv"><img src="__STATIC__/images/app1.png"><img class="qr" src="{$site_info['apk_ewm'] | default= '__STATIC__/images/download.png'}"></li>
      <li class="mv"><img src="__STATIC__/images/app2.png"></li>
      <li class="mv"><img src="__STATIC__/images/app3.png"><img class="qr" src="{$site_info['wechat_ewm'] | default= '__STATIC__/images/download.png'}"></li>
    </ul>
    <include file="public@footer" />
    <include file="public@scripts" />
  </div>
  <script>
    // 640px - 91 = 550 280 270  x/(600 - x)
    const list = document.querySelectorAll('._app li')
    var id
    function dist(x, p) {
      return (x - x * x /600 / 600) / 600 * p
    }
    function me() {
      Array.from(list).forEach(_ => _.classList.remove('mv'))
    }
    function ml(e) {
      console.log(e.clientX, document.body.offsetWidth);
      if (e.clientX > document.body.offsetWidth / 2) {
        list[0].style.left = '391px'
        list[0].style.transform = 'scale(1)'
        list[1].style.left = '300px'
        list[1].style.transform = 'scale(0.75)'
        list[2].style.transform = ''
        list[2].style.right = '691px'
        list[2].style.zIndex = 1
        list[1].style.zIndex = 2
        list[0].style.zIndex = 2
      } else {
        list[0].style.left = '690px'
        list[0].style.transform = ''
        list[0].style.zIndex = 1
        list[1].style.zIndex = 2
        list[2].style.zIndex = 2
        list[1].style.left = '-300px'
        list[1].style.transform = 'scale(0.75)'
        list[2].style.right = '391px'
        list[2].style.transform = 'scale(1)'

      }
      Array.from(list).forEach(_ => {
        _.classList.add('mv')
      })
    }
    function mm(e) {
      if(id) return
      const x = e.offsetX - 600
      if(x > 0) {
        list[0].style.left = 91 + dist(x, 300) + 'px'
        list[0].style.transform = 'scale('+( 0.75 + dist(x, 0.25))+')'
        list[1].style.left =  dist(x, 300) + 'px'
        list[1].style.transform = 'scale('+( 1 - dist(x, 0.25))+')'
        list[2].style.right = 91 + dist(x, 600) + 'px'
        list[2].style.zIndex = 1
        list[1].style.zIndex = 2
        list[0].style.zIndex = 2
      } else {
        list[0].style.left = 91 + dist(-x, 600) + 'px'
        list[0].style.zIndex = 1
        list[1].style.zIndex = 2
        list[2].style.zIndex = 2
        list[1].style.left =  -dist(-x, 300) + 'px'
        list[1].style.transform = 'scale('+( 1 - dist(-x, 0.25))+')'
        list[2].style.right = 91 + dist(-x, 300) + 'px'
        list[2].style.transform = 'scale('+( 0.75 + dist(-x, 0.25))+')'
      }
    } 
  </script>
</body>

</html>