/* 焦点图css */

.scroll_top{
	width: 1200px;
	height: 158px;
	margin:0 auto;
	margin-top: 10px;
}

.scroll_top .swiper-container{
	background-color: rgba(23, 14, 32, .50);
	border-radius: 4px;
	width:100%;
	height:100%;
}

.scroll_top .swiper-pagination{
    bottom:0;
}
.scroll_top .swiper-pagination-bullet-active{
    background:#fc3600
}
.scroll_top img{
	width:100%;
	height:100%;
}

.feed-list .feed {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 220px;
	height: 290px;
	font-size: 12px;
	background: #fff;
}

.feed-list .feed .hj-emoji {
	vertical-align: text-bottom;
	width: 14px
}
._fxi {
	display: flex;
	align-items: center;
}
.feed-list .feed .screenshot {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 173px;
}
.feed-list .feed .info {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 88px;
	box-sizing: border-box;
	padding: 7px 5px 7px;
	background-color: #fff;
	font-size: 14px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #666;
	z-index: 10;
	transition: bottom .2s ease-in-out;
}
.feed-list .feed .info p {
	height: 27px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.feed-list .feed .info .sub {
	color: #999;
	font-size: 12px;
}
.feed-list .feed .info .sub img {
	width: 12px;
	height: 14px;
	margin-right: 3px;
}
.feed .info .name img {
	border-radius: 50%;
}
.feed-list .feed .info .name img {
	height: 28px;
	width: 28px;
	margin-right: 5px;
}
.feed-list .feed .info p span {
	width: 179px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.feed-list .feed .info p img {
	width: 16px;
	height: 16px;
	margin: 0 2px;
}
.feed-list .feed .link {
	position: relative;
	display: block;
	text-decoration: none;
	height: 100%
}
.feed-list .feed .link:hover .info {
	bottom: 0;
}

.feed-list .feed .link:hover:before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background: url(../images/index/play.png) center 32% no-repeat;
	background-color: rgba(41,37,43,0.5)
}


.feed-list .feed .user {
	position: relative;
	height: 44px;
	width: 100%;
	z-index: 2;
	margin-top: 10px;
	line-height: 22px;
	white-space: nowrap;
	overflow: hidden;
	color: #313131;
	text-align:left;
}

.feed-list .feed .user .user_left{
	width: 46px;
	height: 46px;
}

.feed-list .feed .user .user_right{
	width: 177px;
}

.feed-list .feed .user .avatar {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	/* border: 1px solid #eee; */
	display: inline-block;
	vertical-align: top;
}
.feed-list .feed .user .info {
	display: inline-block;
}
.feed-list .feed .user .username {
	color: #333;
	height:22px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis
}

.feed-list .feed .title {
	display: block;
	height:22px;
	line-height: 22px;
	font-size: 13px;
	color:#fff;
	overflow: hidden;
    text-overflow: ellipsis;
}

.feed-list .feed .bottom {
	height:30px;
	line-height:30px;
	color:#a8a8a8;
	font-size:12px;
}
.feed-list .feed .type {
	float:left;
	margin-left: 7px;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.feed-list .feed .nums {
	float:right;
	margin-right: 5px;
	padding-left:15px;
	background:url("../images/index/nums.png") no-repeat left center;
	max-width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.feed-list .feed .comment {
	height: 36px;
	position: relative;
	border: 1px solid #e5e5e5;
	background: #eee;
	color: #313131;
	line-height: 18px;
	padding: 7px 5px;
	margin-top: 13px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.feed-list .feed .comment .comment-inner {
	max-height: 100%;
	overflow: hidden;
	text-overflow: ellipsis
}

.feed-list .feed .comment em {
	font-style: normal;
	color: #ff9624
}

.feed-list .feed .comment:after {
	content: '';
	position: absolute;
	top: -10px;
	left: 16px;
	width: 17px;
	height: 11px;
	background: url(../images/comment.png)
}



.feed-list .feed.live .user .username {
	width: 170px;
	margin-left: 7px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}

.feed-list .feed.live .user .title {
	max-width: 105px
}

/* .feed-list .feed.live .user:after {
	content: '\7684\76f4\64ad'
} */

/* .feed-list .feed.review:before {
	background: url("../images/review.png") no-repeat center;
	content: '\91cd\64ad';
	width: 45px
} */

.feed-list .feed.review .user .username {
	max-width: 110px
}

.oldie .feed-list .feed {
	display: inline
}

.oldie .feed-list .feed .comment {
	margin-top: 10px
}

.ie .comment .comment-inner {
	display: inline-block
}

.ie .comment:before {
	content: '';
	width: 0;
	height: 48px;
	margin-left: -4px;
	display: inline-block;
	vertical-align: middle
}


.rank-list {
	padding-top: 10px;
	border: 1px solid #e5e5e5;
	border-width: 1px 0
}

.rank-list .item {
	position: relative;
	height: 45px;
	margin-bottom: 20px
}

.rank-list .link {
	text-decoration: none
}

.rank-list .avatar {
	float: left;
	margin-right: 10px
}

.rank-list .avatar img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 2px solid transparent;
	-webkit-transition: .2s linear;
	transition: .2s linear
}

.rank-list .avatar img:hover {
	border-color: #f9ca2f
}

.rank-list .avatar .icon {
	position: absolute;
	top: -12px;
	left: -10px
}

.rank-list .rank-1 {
	background-position: 0 -73px;
	background-repeat: no-repeat;
	overflow: hidden;
	display: block;
	width: 31px;
	height: 30px
}

.rank-list .rank-2 {
	background-position: 0 -43px;
	background-repeat: no-repeat;
	overflow: hidden;
	display: block;
	width: 31px;
	height: 30px
}

.rank-list .rank-3 {
	background-position: 0 -13px;
	background-repeat: no-repeat;
	overflow: hidden;
	display: block;
	width: 31px;
	height: 30px
}

.rank-list .nickname {
	margin-top: 2px;
	font-size: 14px
}

.rank-list .fans {
	color: #bfbfbf
}

.rank-list .fans .icon {
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
	display: inline-block;
	width: 16px;
	height: 13px;
	vertical-align: bottom;
	margin-bottom: 2px
}

.rank-list .btn-follow {
	position: absolute;
	right: 0;
	top: 12px;
	width: 48px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #fc4e53;
	color: #fc4e53;
	text-align: center;
	background-color: #fff
}

.rank-list .btn-follow:hover {
	text-decoration: none;
	color: #fff;
	background-color: #fc4e53
}

.rank-list .followed {
	color: #bfbfbf;
	border-color: #bfbfbf
}

.rank-list .followed:hover {
	background-color: #bfbfbf;
	color: #fff;
	border-color: #bfbfbf
}

.red {
	color: #fc4e53!important
}

.orange {
	color: #f39800!important
}

.yellow {
	color: #fc0!important
}

.white {
	color: #fff!important
}

.black {
	color: #313131!important
}

#doc-bd {
	position: relative;
}

#doc-bd .container {
	position: relative;
	z-index: 1;
}
#doc-bg {
	position: absolute;
	top: -8px;
	left: 0;
	width: 100%;
	height: 608px
}

#doc-bg .focus-bg {
	height: 100%;
	width: 100%;
	overflow: hidden
}

#doc-bg a {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -200px;
	background-position: top center;
	background-repeat: no-repeat
}

#doc-bg a[href="#"] {
	cursor: default
}

#author-info {
	display: none;
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 5;
	padding: 8px 8px 12px 8px;
	border-radius: 0 6px 6px 0;
	width: 188px
}

#author-info strong {
	font-weight: normal
}

#author-info .link {
	text-decoration: none
}

#author-info .link:hover .avatar {
	border-color: #f9ca2f
}

#author-info .avatar {
	float: left;
	width: 34px;
	height: 34px;
	border: 2px solid #727272;
	-webkit-transition: .2s linear;
	transition: .2s linear;
	border-radius: 50%;
	overflow: hidden
}

#author-info .avatar img {
	width: 100%;
	height: 100%
}

#author-info .base-info {
	float: left;
	margin-left: 7px;
	width: 85px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

#author-info .base-info h3 {
	font-size: 14px;
	color: #FFF;
	line-height: 20px;
	text-overflow: ellipsis;
	overflow: hidden
}

#author-info .base-info h3 img {
	width: 1em;
	height: 1em
}

#author-info .base-info p {
	font-size: 12px;
	line-height: 16px;
	color: #FFF;
	opacity: .4
}

#author-info .base-info p.watches {
	display: none
}

#author-info .follow {
	float: right;
	margin: 4px 2px
}

#author-info .follow .btn-follow {
	display: block;
	width: 50px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #fc4e53;
	color: #fff;
	text-align: center;
	font-size: 13px;
	background-color: #fc4e53;
	border-radius: 3px
}

#author-info .follow .btn-follow:hover {
	text-decoration: none;
	background-color: #fc676b
}

#author-info .follow .btn-follow.followed {
	border-color: #494949;
	background-color: #494949
}

#author-info .counts {
	margin-top: 46px;
	border-color: #5e5e5e;
	padding: 12px 0;
	border-top: 1px solid rgba(255,255,255,0.1);
	clear: both;
	text-align: center
}

#author-info .counts div {
	float: left;
	width: 32.6%;
	border-color: #595959;
	border-left: 1px solid rgba(255,255,255,0.07)
}

#author-info .counts div:first-child {
	border-left: none
}

#author-info .counts h4 {
	color: #FFF
}

#author-info .counts p {
	color: #FFF;
	opacity: .4
}

#author-info .currency,#author-info div.watches {
	clear: both;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	background: url(../images/currency.png) 6px 6px no-repeat;
	background-color: #505050;
	background-color: rgba(82,82,82,0.6);
	padding-left: 30px
}

#author-info .currency span,#author-info .currency strong,#author-info div.watches span,#author-info div.watches strong {
	color: #FFF
}

#author-info .currency span,#author-info div.watches span {
	opacity: .5;
	margin-right: 5px
}

#author-info .currency {
	margin-bottom: 10px
}

#author-info .currency.hide {
	display: none
}

#author-info div.watches {
	background-position: 6px -26px
}

#author-info .switch {
	display: none;
	width: 32px;
	height: 16px;
	position: absolute;
	overflow: hidden;
	bottom: -16px;
	left: 50%;
	margin-left: -16px;
	cursor: pointer;
	text-indent: -200px
}

#author-info .switch:after {
	content: '';
	position: absolute;
	top: -16px;
	left: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAeCAYAAAD6t+QOAAAA7ElEQVQ4je2UvUoDURCFv9gIshbZmCWFiUXEwtL38DmsfBmFoJHEXkPQ19BAIG9gb2th9VnsrF7WJWpnkYFbzJxz56c4B/VIvVAzlYaXBT5sqWPgBFgB58AbX5EBI+AYeEbtqDN1oU7UnaTjNOp3arsa1VXnAdyoeXxcqPeR01KrkQVwDfSBd2AbeAHOgFeA+jGF+hgd55F/4k3X99RRnVhf48fY+jVzQ96Q/w25R6no4hvSIKuHRFbdFE87V4LdpxTsALgCOvU19gLoA0vglNJ0DqKeV2vka0zmNjWZv9jXE2GMl2uMcTeM8fAD+ZE8x6Es1M4AAAAASUVORK5CYII=) 9px -5px no-repeat;background-color: #333;
	background-color: rgba(0,0,0,0.7)
}

#author-info.landscape {
	top: 16px;
	background-color: #333;
	background-color: rgba(0,0,0,0.7)
}

#author-info.landscape .switch {
	display: block
}

#author-info.landscape.mini .counts,#author-info.landscape.mini .currency,#author-info.landscape.mini .watches,#author-info.landscape.mini .base-info .author-id {
	display: none
}

#author-info.landscape.mini .base-info p.watches {
	display: block
}

#author-info.mini .switch:after {
	background-position: 9px 19px
}

#player-praises {
	width: 72px;
	height: 337px;
	position: absolute;
	bottom: 45px;
	right: 5px
}

#player-praises .bubble {
	width: 100%;
	height: 280px;
	position: relative
}

#player-praises svg {
	position: absolute
}

#player-praises .praises {
	position: relative;
	top: -15px;
	display: block;
	overflow: hidden;
	padding: 15px
}

#player-praises .praises span {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	display: block;
	background: #d81e60 url(../images/praises.png) no-repeat
}

#player-praises .praises:hover span {
	background-color: #fa4179
}

#living-slider {
	margin-top: 8px;
	height: 576px;
	margin-bottom: 31px
}

#living-slider .obs-player {
	float: left;
	width: 1000px;
	height: 576px;
	background: #000;
	position: relative
}

#living-slider .obs-player .enter-link {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin-left: -75px;
	margin-top: -20px;
	border-radius: 4px;
	border: solid 1px #f5cb05;
	text-align: center;
	color: #f5cb05;
	font-size: 18px;
	-webkit-transition: .3s opacity;
	transition: .3s opacity;
	background-color: rgba(0,0,0,0.3)
}

#living-slider .obs-player .enter-link:hover {
	background: #f5cb05;
	text-decoration: none;
	color: white
}

#living-slider .obs-player:hover .link {
	opacity: 1
}

#living-slider .living-switch {
	float: right;
	position: relative;
	width: 188px;
	height: 576px
}

#living-slider .living-switch .opacity-bg {
	background: #000;
	opacity: .45;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	border-radius: 2px
}

#living-slider .living-switch ul {
	position: relative;
	z-index: 1;
	margin: 13px 14px
}

#living-slider .living-switch li {
	position: relative;
	width: 160px;
	height: 130px;
	margin-bottom: 10px;
	cursor: pointer
}

#living-slider .living-switch li img {
	display: block;
	width: 100%;
	height: 100%
}

#living-slider .living-switch li p {
	position: absolute;
	overflow: hidden;
	height: 25px;
	line-height: 25px;
	color: #FFF;
	background-color: #333;
	background-color: rgba(0,0,0,0.6);
	bottom: 0;
	width: 146px;
	padding-left: 9px;
	padding-right: 5px;
	text-overflow: ellipsis;
	white-space: nowrap
}

#living-slider .living-switch li p.author {
	background: rgba(0,0,0,0.6) url(../images/username.png) no-repeat 8px 5px;
	padding-left: 28px;
	width: 127px
}

#living-slider .living-switch li p.author img {
	display: inline-block;
	height: 1em;
	width: 1em
}

#living-slider .living-switch li .mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 152px;
	height: 122px;
	border: 4px solid #ffee58;
	opacity: 0;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	cursor: pointer;
	z-index: 2
}

#living-slider .living-switch li .mask .arrow {
	position: absolute;
	left: -12px;
	top: 51px;
	border-style: solid;
	border-width: 6px 8px 6px 0;
	border-color: transparent #ffee58 transparent transparent
}

#living-slider .living-switch li:hover .mask,#living-slider .living-switch li.current .mask {
	opacity: 1
}
.side {
	width: 270px;
	float: right;
}

#focuspic {
	position: relative;
	width: 1200px;
	height: auto;
}

#focuspic .list{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	height: 407px;
	padding-left: 485px;
}
.zzzb{
	position: absolute;
	height: 17px;
	width: 54px;
	top: 10px;
	right: 10px;
	z-index: 12;
}
.list>li i {
	font-style: normal;
}
#focuspic .list>li:first-child {
	position: absolute;
	top: 0;
	left: 0;
	height: 407px;
	width: 475px;
}
#focuspic .list>li:first-child .screenshot {
	height: 312px;
}
#focuspic .list>li:first-child .zzzb {
	top: 20px;
	right: 20px;
	width: 100px;
	height: 32px;
}
#focuspic .list>li:first-child .link:hover .info {
	bottom: 0;
}
#focuspic .list>li:first-child .info {
	height: 95px;
	padding: 10px;
	font-size: 22px;
	color: #666;
	bottom: 0;
	background-color:#fff;
}
.focuspic .list>li:first-child p {
	height: 35px;
}
.focuspic .list>li:first-child .sub img {
	width: 40px;
	height: 40px;
	margin-right: 6px;
}
.focuspic .list>li:first-child .sub i img {
	width: 16px;
	height: 18px;
}
.focuspic .list>li:first-child .sub i img.fen1 {
	display: none;
}
.focuspic .list>li:first-child .sub {
	margin-top: 12px;
	font-size: 16px;
}
.focuspic .list>li:first-child .sub span {
	width: 320px;
}
.focuspic .list>li:first-child p img {
	width: 24px;
	height: 24px;
}
.focuspic .list>li:first-child p span {
	width: 375px;
}

#focuspic .list .feed:before {
	width: 45px
}

#focuspic .list .feed .link:hover:before {
	height: 100%
}

#focuspic .list .feed .link .user {
	background: url("../images/user_bg.png") repeat-x 0 30px;
	padding-top: 0;
	margin-top: -84px;
	height: 84px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden
}

#focuspic .list .feed .link .user:after {
	content: ''
}

#focuspic .list .feed .link .user .username {
	color: #fff;
	padding-left: 20px;
	background: url("../images/username.png") no-repeat 0 12px;
	margin-left: 10px;
	margin-top: 45px;
	max-width: 80px
}
#focuspic .feed .screenshot {
	height: 132px;
}
#living .feed .screenshot {
	height: 173px;
}
.g-box.feed-list {
	margin-bottom: 70px;
}
.main .g-box:nth-of-type(2) .zb_title {
	flex-direction: row-reverse;
}
.g-box.feed-list .feed .info p img {
	width: 18px;
	height: 18px;
}
.g-box.feed-list .feed .info .sub {
	height: 50px;
}
.g-box.feed-list .feed .info .avatar {
	height: 40px;
	width: 40px;
}
.g-box.feed-list .feed .info i img {
	height: 18px;
	width: 16px;
}
#focuspic .list .feed .link .user .watches {
	color: #fff;
	margin: 45px 10px 0 3px;
	padding-left: 15px;
	display: inline-block;
	background: url(../images/watches.png) no-repeat 0 12px
}

#focuspic .list .feed .link .user .watches .sub {
	max-width: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: top
}

#focuspic .list .feed .link .tip-wrap {
	position: absolute;
	text-align: center;
	opacity: .9;
	filter: alpha(opacity=90)
}
#focuspic .feed .info {
	height: 65px;
}
#focuspic .feed .info p{
	height: 27px;
}
#focuspic .list .feed .link .tip-wrap .tip {
	background: url(../images/tip.png) repeat center
}


#focuspic .list .live .watches:after {
	content: '\4eba\5728\770b'
}

#focuspic .list .review:before {
	background: url("../images/review.png") no-repeat center;
	content: '\91cd\64ad'
}

#focuspic .list .review .watches:after {
	content: '\4eba\770b\8fc7'
}

#focuspic .list .special {
	height: 432px;
	width: 340px;
	float: left
}

#focuspic .list .special .link .user .watches .sub {
	max-width: 80px
}

#focuspic .list .special .tip-wrap {
	bottom: 50px;
	width: 100%
}

#focuspic .list .special .tip-wrap .border-line {
	display: block;
	position: absolute;
	height: 25px;
	width: 25px;
	border: solid #252124
}

#focuspic .list .special .tip-wrap .lt-border-line {
	border-width: 2px 0 0 2px;
	top: -7px;
	left: 23px
}

#focuspic .list .special .tip-wrap .rb-border-line {
	border-width: 0 2px 2px 0;
	bottom: -7px;
	right: 23px
}

#focuspic .list .special .tip-wrap .tip {
	margin: 0 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 2px
}

#focuspic .list .special .tip-wrap .tip .first-line {
	color: #fc0;
	font-size: 24px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

#focuspic .list .special .tip-wrap .tip .second-line {
	color: #fff;
	font-size: 16px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	opacity: .6;
	filter: alpha(opacity=60)
}

#focuspic .list .special .username {
	max-width: 180px!important
}

#focuspic .list .special:before {
	background: url("../images/special.png") no-repeat center;
	width: 0;
	height: 0;
	content: ''
}

#focuspic .list .normal {
	height: 197px;
	width: 230px;
	border-radius: 4px;
	overflow: hidden;
	margin-right: 12px;
}
#focuspic .list .normal:nth-child(3n+1) {
	margin-right: 0;
}
#focuspic .list .normal:nth-child(n+5) {
	margin-top: 10px;
}


#focuspic .list .normal .tip-wrap {
	bottom: 40px;
	height: 35px;
	width: 100%;
	line-height: 35px
}

#focuspic .list .normal .tip-wrap .border-line {
	display: none
}

#focuspic .list .normal .tip-wrap .tip {
	margin: 0 10px;
	border-radius: 8px
}

#focuspic .list .normal .tip-wrap .tip .first-line {
	color: #fc0;
	font-size: 16px;
	text-overflow: ellipsis
}

.recommend {
	float: left;
	width: 920px;
	height: 301px;
	margin-bottom: 15px
}

.recommend .figures {
	float: left;
	width: 410px;
	margin-right: 10px
}

.recommend .figures .item {
	position: relative;
	width: 202px;
	float: left
}

.recommend .figures .item-1 {
	width: 200px;
	height: 300px;
	margin-right: 8px
}

.recommend .figures .item-2 {
	height: 149px;
	margin-bottom: 6px
}

.recommend .figures .item-3 {
	height: 145px
}

.recommend .figures .title,.recommend .figures .title-bg {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #fff;
	text-align: center
}

.recommend .figures .title-bg {
	background-color: #000;
	filter: alpha(opacity=60);
	opacity: .6
}

.recommend .figures .mask {
	position: absolute;
	z-index: 3;
	background-color: #000;
	opacity: 0;
	filter: Alpha(opacity=0);
	height: 0;
	width: 100%
}

.recommend .figures a:hover .mask {
	top: 0;
	height: 100%;
	opacity: .1;
	filter: Alpha(opacity=10)
}

.recommend .news {
	float: right;
	width: 470px;
	height: 300px;
	padding: 0 15px;
	background-color: #f5f5f5
}

.recommend .headnews {
	text-align: center;
	font-size: 18px;
	line-height: 60px
}

.recommend .figures-2 {
	margin-left: -10px;
	margin-bottom: 10px
}

.recommend .figures-2 .item {
	position: relative;
	float: left;
	width: 230px;
	height: 130px;
	margin-left: 10px
}

.recommend .figures-2 .title,.recommend .figures-2 .title-bg {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #fff;
	text-align: center
}

.recommend .figures-2 .title-bg {
	background-color: #000;
	filter: alpha(opacity=60);
	opacity: .6
}

.recommend .figures-2 .mask {
	position: absolute;
	z-index: 3;
	background-color: #000;
	opacity: 0;
	filter: Alpha(opacity=0);
	height: 0;
	width: 100%
}

.recommend .figures-2 a:hover .mask {
	top: 0;
	height: 100%;
	opacity: .1;
	filter: Alpha(opacity=10)
}

.recommend .text-list {
	margin-left: -10px;
	line-height: 1.8;
	font-size: 13px
}

.recommend .text-list .item {
	float: left;
	width: 230px;
	margin-left: 10px
}

.recommend .text-list .item a {
	color: #535353;
}

.recommend .text-list .item a:hover {
	color: #fc4e53
}

#living .box-title .icon {
	background-position: 0 -48px;
	background-repeat: no-repeat;
	overflow: hidden;
	display: inline-block;
	width: 35px;
	height: 35px;
	background: none;
}

#hot .box-title .icon {
	background-position: 0 -66px;
	background-repeat: no-repeat;
	overflow: hidden;
	display: inline-block;
	width: 35px;
	height: 35px;
	background: none;
}
#hot .box-title .icon img, #living .box-title .icon img {
	width: 35px;
	height: 35px;
}
.sidebar {
	float: right;
	width: 100%;
	padding:30px 20px; 
	-moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;
	background:#fff;
	border-radius:10px;
}

#author-top .box-title .icon {
	background-position: 0 -102px;
	background-repeat: no-repeat;
	overflow: hidden;
	display: block;
	width: 13px;
	height: 18px
}

#author-top .rank-list {
	border: 0
}


.g-box .box-hd .tag {
	float: left;
	margin-top: 5px;
	margin-right: 5px
}

.g-box .box-bd .list{
	display: flex;
	flex-wrap: wrap;
}
.g-box .box-bd .list>.nodata {
	height: 260px;
	text-align: center;
	width: 100%;
	font-size: 24px;
	color: #fff;
	line-height: 260px;
}
.g-box.sort {
	padding-top: 4px;
}
.g-box .box-bd .list>li{
	width: 292px;
	height: 260px;
	margin-right: 10px;
	margin-left: 0;
	border-radius: 10px;
	overflow: hidden;
}
.g-box .box-bd .list>li .info {
	font-size: 16px;
}
.g-box .box-bd .list>li .info p span {
	width: 230px;
}
.g-box .box-bd .list>li .sub {
	color: #666;
	font-size: 14px;
}
.g-box .box-bd .list>li .sub
.g-box .zzzb{
	width: 64px;
	height: 20.15px;
}
.g-box .box-bd .list>li:nth-child(4n){
	margin-right: 0;
}

.feed-list .live {
	margin-left: 13px;
}

.download {
	margin-bottom: 30px
}

/*搜索页面*/
.feed-list .box-hdd
{
	padding-bottom: 5px;
	padding-top:40px;
}
.feed-list .translate_form
{
	border-bottom:1px solid #CCCCCC
}
.feed-list .box-hdd .box-title
{
	LINE-HEIGHT:50PX;
}
.feed-list .box-hdd .box-title .icon
{
	VERTICAL-ALIGN: middle;
	line-height: 50px;
	margin-top: 16px;
}
.feed-list .box-hdd .translate_input
{
	width: 420px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e6e7e8;
	border-radius: 3px;
	float: left;
	text-align: left;
	padding-left: 10px;
}
.feed-list .box-hdd .translate_primary
{
	width: 80px;
	height: 40px;
	font-size: 18px;
	background: #a85aff;
	color: #ffffff;
	border-radius: 3px;
	margin-left: 5px;
	cursor: pointer;
	text-align:center;
}
.feed-list .search_count
{
	height: 30px;
  font-size: 14px;
  margin-top: 30px;
}
.feed-list .search_count span
{
	padding-top:20px;
}
.search_line{
	height: 1px;
  border: none;
  border-top: 1px solid #CCCCCC;
  margin-bottom: 15px;
}
.feed-list .search_count .search_hotkey
{
	color: #ed1c24;
  font-weight: bold;
}
.feed-list .search_tuijian_container
{
	font-size: 20px;
	margin-top:70px;
}
.feed-list .search_tuijian_container span
{
	font-size: 20px;
}
.translate_bd
{
	padding-top:20px;
}


/* 侧边栏登录 */
.side_login{
	margin-bottom:10px;
	width:270px;
	height:195px;
	background:#fff;
	border-radius:10px;
}
.side_login .side_login_title{
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	font-size:16px;
	background:#fad05d;
	border-radius:10px 10px 0 0;
}
.side_login .side_login_title_bottom{
	height:29px;
	background:url("../images/index/side_login_j.png") no-repeat -28px center;
}
.side_login .side_login_nologin{
	text-align:center;
}
.side_login .side_login_nologin .side_login_nologin_btn a{
	display:inline-block;
	width:165px;
	height:30px;
	line-height:30px;
	color:#fff;
	font-size:14px;
	background:#fad05d;
	border-radius:5px;
}
.side_login .side_login_nologin .side_login_nologin_btn a:hover{
	text-decoration:none;
}
.side_login .side_login_nologin .side_login_nologin_des{
	line-height:35px;
	color:#a8a8a8;
}
.side_login .side_login_nologin .side_login_nologin_des a{
	color:#fad05d;
}
.side_login .side_login_nologin .side_login_nologin_des a:hover{
	text-decoration:none;
}
.side_login .side_login_nologin .side_login_nologin_other{
	display:inline-block;
	width:180px;
	height:25px;
	line-height:25px;
	background:url("../images/index/side_login_bg.png") repeat-x center;
}
.side_login .side_login_nologin .side_login_nologin_other span{
	display:inline-block;
	padding:0 10px;
	background:#fff;
}
.side_login .side_login_nologin .side_login_nologin_other_btn{
	line-height:40px;
}
.side_login .side_login_nologin .side_login_nologin_other_btn a{
	display:inline-block;
	margin:0 5px;
}
.side_login .side_login_nologin .side_login_nologin_other_btn img{
	vertical-align:middle;
}
.side_login .side_login_login .side_login_info{
	position:relative;
	padding:0 20px 10px 90px;
	border-bottom:1px dashed #bbbbbb;
}
.side_login .side_login_login .side_login_info .side_login_login_avatar{
	position:absolute;
	top:10px;
	left:20px;
	width:60px;
	height:60px;
	border-radius:50%;
}
.side_login .side_login_login .side_login_info .side_login_login_name{
	color:#545454;
	font-size:18px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.side_login .side_login_login .side_login_info .side_login_login_level{
	line-height:25px;
	color:#a8a8a8;
	font-size:14px;
}
.side_login .side_login_login .side_login_info .side_login_login_coin{
	line-height:25px;
	color:#a8a8a8;
	font-size:14px;
}
.side_login .side_login_login .side_login_info .side_login_login_coin a{
	color:#fad05d;
}
.side_login .side_login_login .side_login_info .side_login_login_coin a:hover{
	text-decoration:none;
}
.side_login .side_login_login .side_login_info_bottom{
	text-align:center;
	line-height:50px;
}
.side_login .side_login_login .side_login_info_bottom a{
	color:#fad05d;
	font-size:16px;
	padding:0 5px;
}
.side_login .side_login_login .side_login_info_bottom a:hover{
	text-decoration:none;
}


/*页面调整新加功能*/

.top_header{
	padding-top: 87px;
	margin-top: -62px;
	height: 108px;
	text-align: center;
	font-size: 22px;
	font-family: PingFang-SC-Medium, PingFang-SC;
	font-weight: 500;
	background-position: center center;
	background-size: cover;
	color: #400761;
}
.top_header p{
	font-size: 36px;
	color: #360661;
}
#living a {
	text-decoration: none;
}
#living .sort {
	height: 50px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 10px 15px;
	background: rgba(255,255,255,0.4);
	border-radius: 6px;
}
#living .sort li {
	position: relative;
}
#living .sort li.act a {
	color: #fff;
}
#living .box-bd li {
	margin-top: 11px;
}
#living .sort a {
	padding: 0 18px;
	font-size: 20px;
	font-family: PingFang-SC-Medium, PingFang-SC;
	font-weight: 500;
	color: #333;
}
#living .sort li+li::after {
	content: '';
	position: absolute;
	height: 18px;
	width: 1px;
	top: 6px;
	left: 0;
	background-color: #333;
}
#living .sort a:hover {
	color: #8D37C8;
}
#living .sort>img {
	height: 30px;
	width: 30px;
}
.index_live{
	height: 778px;
	position: relative;
}
.index_live_area{
	width: 1200px;
	height: 590px;
	margin:0 auto;
}
.index_live_area_left{
	overflow: hidden;
	width: 920px;
	float: left;
	background-color: #170E20;
	height: 590px;
	position: relative;
}

.index_live_area_left .video_mask{
	position: absolute;
	width: 920px;
	height: 550px;
	top: 0;
	left: 0;
	display: none;
	text-decoration: none;
	pointer-events: none;
}
.index_live_area_left .video_mask a:hover{
	text-decoration: none;
}
.video_mask_center{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #FFF;
	font-size: 26px;
}
.video_mask_center p {
	pointer-events: auto;
	width: 240px;
	background-color: rgba(56, 65, 56, .50);
	line-height: 61px;
	text-align: center;
	border-radius: 4px;
	margin-top: 39px;
}
.index_live_area_right{
	width: 280px;
	padding:10px;
	height: 590px;
	float: right;
	box-sizing: border-box;
	background-color: rgba(23, 14, 32, .50);
	border-left: none;
}
.index_live_area_right li{
	cursor: pointer;
	margin-bottom:10px;
	height: 135px;
	width: 260px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
.index_live_area_right li .roomname {
	position: absolute;
	width: 100%;
	left: 0;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background-color: rgba(65, 48, 79,.4);
	transition: bottom .25s ease-in-out;
	bottom: -30px;
}
.index_live_area_right li:hover .roomname {
	bottom: 0;
}
.index_live_area_right li img{
	width: 100%;
}
.index_live_area_right li.on{
	box-shadow: 0px 0px 0px 2px #cd86f7;
}
.index_live_area_right .on:before{
	content:" ";
	display: inline-block;
	width: 0;
	height: 0;
	border:10px solid transparent;
	border-right: 10px solid #cd86f7;
	position: absolute;
	top: 40%;
	left: -22px;
}

.fix_area{
	width: 52px;
	height: 138px;
	position: fixed;
	right: 3px;
	top:30%;
	z-index: 3;
}
.fix_area>div {
	cursor: pointer;
	width: 52px;
	height: 52px;
	margin-bottom: 5px;
	position: relative;
}
.fix_area>div>img {
	width: 100%;
}
div.type_top{
	height: 34px;
}
.fix_area div .act {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
._rt {
	position: absolute;
	top: 0;
	right: 55px;
	width: 0;
	transition: all 0.3s ease-in-out;
	height: 247px;
	background: #D8D8D8;
	background-image: linear-gradient(179deg, #9B66FF 0%, #6236FF 100%);
	border-radius: 8px;
	display: flex;
	align-items: center;
	overflow: hidden;
	justify-content: center;
}
._ctt {
	width: 124px;
	height: 186px;
	background: #FFF;
	border-radius: 7px;
	line-height: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}
._ctt img {
	width: 96px;
	height: 96px;
	margin: 10px 0 8px;
}
.fix_area:hover .crt .act {
	display: none;
}
.fix_area:hover .crt ._rt {
	width: 0;
} 
.fix_area>div:hover .act {
	display: block!important;
}
.fix_area>div:hover ._rt {
	width: 145px!important;
}
