	<!--
		<img src="{$site_info['sina_icon'] | default= '__STATIC__/images/sin.png'}">
		<a href="{$site_info['sina_url']}"
		<a href="{$site_info['qq_url']}"
		<p class="guan_wei_title">{$site_info['qq_title']}</p>
		<p class="guan_wei_desc">{$site_info['qq_desc']}</p>
		<p>{$site_info['site_name']}</p>
		<p class="company_mobile">{$site_info['mobile']}</p>
		<p>地址:{$site_info['address']}</p> -->
<ul class="area_ft _fxi">
	<li>
		<p>· 帮助中心 ·</p>
		<div class="ctt _fxi">
			<a href="/portal/page/index?id=2"><img src="__STATIC__/images/guide.png"></a> <!-- 直播规范 -->
			<a href="/portal/page/index?id=5"><img src="__STATIC__/images/live.png"></a> <!-- 直播教程 -->
			<a href="/portal/page/index?id=26"><img src="__STATIC__/images/qs.png"></a> <!-- 主播帮助 -->
		</div>
	</li>
	<li class="qr">
		<p>· 二维码 ·</p>
		<div class="ctt _fxi">
			<div class="_fxi"><img src="{$site_info['wechat_ewm'] | default= '__STATIC__/images/download.png'}"><p>[关注公众号]</p></div>
			<div class="_fxi"><img src="{$site_info['apk_ewm'] | default= '__STATIC__/images/download.png'}"><p>[下载APP]</p></div>
		</div>
	</li>
	<li class="contact">
		<p>· 联系我们 ·</p>
		<div class="ctt _fxi">
			<a href="{$site_info['sina_url']}"><img src="__STATIC__/images/wb.png"></a>
			<a href=""><img src="__STATIC__/images/mail.png"></a>
			<a href="{$site_info['qq_url']}"><img src="__STATIC__/images/QQ.png"></a>
		</div>
	</li>
</ul>
<div class="doc_ft">
	<p class="st _fix">
		<a href="/portal/page/index?id=10">用户协议</a>
		<a href="/portal/page/index?id=3">隐私政策</a>
		<a href="/portal/page/index?id=18">法律声明</a>
		<!-- <a href="https://obsproject.com/zh-cn/download">直播工具下载</a> -->
	</p>
	<p class="bq _fix">{:nl2br($site_info['copyright'])}<span></p>
	<p class="mz">免责声明：本站所有视频内容均来自第三方，本站不提供所有视频直播内容以及赛事数据，坚决拥护赛事版权，如有侵权请联系本站，我们将尽快处理</p>
</div>
<style>
.doc_ft .st a {
	text-decoration: none;
	margin: 0 10px;
	color: #E5E5E5;
}
.doc_ft .st {
	padding-top: 26px;
	font-size: 18px;
	line-height: 30px;
	justify-content: center;
}
.doc_ft .bq span{
	padding: 0 15px;
}
.doc_ft .bq {
	font-size: 14px;
	line-height: 32px;
	justify-content: center;
}
._home .doc_ft {
	background-image: url(__STATIC__/images/ft.png);
	background-position: top center;
}
.doc_ft {
	margin-top: 10px;
	height: 130px;
	text-align: center;
	color: #E5E5E5;
	font-size: 12px;
}
.area_ft li {
	width: 384px;
	height: 221px;
	text-align: center;
	background-image: url(__STATIC__/images/fib.png);
}
.area_ft li>div {
	height: 176px;
	padding: 0 57.5px;
	box-sizing: border-box;
	justify-content: space-between;
}
.area_ft li.qr>div {
	padding: 0 55px;
}
.area_ft li.qr .ctt div img {
	width: 120px;
	height: 120px;
	border-radius: 5px;
}
.area_ft li.qr .ctt div {
	flex-direction: column;
	width: 121px;
	height: 146px;
	line-height: 26px;
	font-size: 12px;
	color: #E5E5E5;
}
.area_ft li>p {
	line-height: 45px;
	font-size: 20px;
	color: #E5E5E5;
}
.area_ft {
	width: 1200px;
	margin: 0 auto;
	justify-content: space-between;
}
</style>
