<div id="doc_hd">
	<ul class="doc_head _fxi">
		<li class="logo"><a href="/"></a></li>
		<li class="item"><a href="/" <if condition="$current eq 'index'">class="current" </if> >首页大厅</a></li>
		<li class="item">
			<a href="/home/Live/index" <if condition="$current eq 'live'">class="current" </if>>直播分类</a>
			<div class="sort_list">
				<volist name="classdata" id="v"><a href="/home/Live/index?pid={$v['id']}">{$v['name']}</a></volist>
				<a href="/home/Live/index">查看全部</a>
			</div>
		</li>
		<li class="item"><a href="javascript:void(0)" <if condition="$current eq 'schedule'">class="current" </if> >赛程分析</a></li>
		<li class="item _center"><a <if condition="$current eq 'modify'">class="current" </if>>个人中心</a></li>
		<li class="item _live"><a <if condition="$user">class="{$user['id']}"</if>>开始直播</a></li>
		<li class="item"><a href="/home/App/programe" <if condition="$current eq 'download'">class="current" </if> >关于我们</a></li>
		<li class="_fxi user">
			<div class="search _fxi">
				<form action="/home/Index/translate" method="post"><input name="keyword" placeholder="输入用户名或ID"></form>
				<img src="__STATIC__/images/sc.png"></div>
			<if condition="$user">
				<div class="ava sin _fxi">
					<img src="{$user['avatar']}">
					<div class="nickname">
						{$user['user_nicename']}
						<p class="alist">退出登录</p>
					</div>
				</div>
			<else/>
				<div class="sinin sin _fxi"><img src="__STATIC__/images/icon-avatar.png"><p>登录|注册</p></div>
			</if>
		</li>
	</ul>
</div>
<script>
	if(/(iPhone|iPad|iPod|iOS|Adr|Android)/i.test(navigator.userAgent))location.href='https://h5.rongyaosport.com'
</script>
<style>
	._fxi {
		display: flex;
		align-items: center;
	}
	a {
		cursor: pointer;
		user-select: none;
		text-decoration: none!important;
	}
	.ava .alist {
		position: absolute;
		background-color: #a85aff;
		height: 0;
		right: 0;
		top: 30px;
		color: #fff;
		width: 83px;
		z-index: 1;
		text-align: center;
		font-size: 14px;
		border-radius: 3px;
		overflow: hidden;
		transition: all 0.25s ease-in-out ;
		opacity: 0;
	}
	.doc_head .sin .nickname:hover .alist {
		height: 40px;
		opacity: 1;
		top: 41px;
	}
	.doc_head .sin .nickname:hover:after {
		bottom: -16px;
		opacity: 1;
		height: 12px;
		width: 12px;
	}
	.doc_head .sin .nickname:after {
		transition: all 0.25s ease-in-out ;
		content: '';
		position: absolute;
		width: 0px;
		height: 0px;
		bottom: 10px;
		opacity: 0;
		left: 50%;
		transform: rotate(45deg) translateX(-100%);
		background-color: #a85aff;
	}
	.ava {
		position: relative;
	}
	.doc_head .sin {
		cursor: pointer;
		font-size: 16px;
		color: #C99AFD;
		width: 143px;
		line-height: 40px;
	}
	.doc_head .sin .nickname {
		position: relative;
		text-align: center;
		width: 76px;
	}
	
	.doc_head .sinin p {
		transition: color 0.2s ease-in-out;
	}
	.doc_head .sinin p:hover {
		color: #fff;
	}
	.doc_head  .sin img {
		width: 42px;
		height: 42px;
		border-radius: 50%;
		cursor: pointer;
		margin: 0 10px 0 15px;
	}
	.doc_head .user .search {
		width: 190px;
		height: 40px;
		border-radius: 20px;
		overflow: hidden;
		box-sizing: border-box;
		border: 1px solid #A558FA;
		background-color: transparent;
		position: relative;
	}
	.doc_head .user .search img {
		position: absolute;
		right: 15px;
		cursor: pointer;
	}
	.doc_head .user input {
		line-height: 38px;
		width: 190px;
		font-size: 16px;
		background-color: transparent;
		outline: none;
		color: #fff;
		padding: 0 17px;
		box-sizing: border-box;
		border: none;
	}
	.doc_head .user {
		position: absolute;
		width: 340px;
		right: -30px;
	}
	@keyframes bounceIn {
   0% { 
      opacity: 0; 
      transform: scale(.3);
   }
   50% { 
      opacity: 1;
      transform: scale(1.05);
   }
   70% {
      transform: scale(.9);
   }
   100% {
      transform: scale(1);
   }
	}
	.doc_head .item:hover a {
		animation: bounceIn 0.3s ease-in-out;
	}
	.doc_head .logo a {
		width: 156px;
		height: 49px;
		background: url(__STATIC__/images/logo.png)!important;
		margin: 0 46px 0 -21px;
	}
	.sort_list {
		display: none;
	}
	.doc_head .item,.doc_head li>a {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		color: #fff;
		font-size: 16px;
		height: 62px;
		width: 140px;
		background-size: cover;
	}
	.doc_head .item:nth-child(even):hover>a,.doc_head .item:nth-child(even)>a.current {
		background-image: url(__STATIC__/images/item.png);
	}
	.doc_head .item:nth-child(odd):hover>a,.doc_head .item:nth-child(odd)>a.current {
		background-image: url(__STATIC__/images/item_odd.png);
	}
	.doc_head .item:nth-child(odd)>a::after {
		transform: skewX(24deg);
	}
	.doc_head .item>a::after {
		position: absolute;
		content: '';
		width: 30px;
		height: 100%;
		right: 15px;
		transform: skewX(-24deg);
		z-index: 1;
	}
	.doc_head li:nth-child(n+2) {
		margin-right: -24px;
	}
	.doc_head {
		width: 1200px;
		margin: 0 auto;
		height: 74px;
		position: relative;
		z-index: 110;
	}
	#doc_hd {
		background-image: url(__STATIC__/images/doc_hd.png);
		background-size: cover;
		background-position: top center;
	}
</style>