<script type="text/javascript">
    window._DATA = window._DATA || {};
    window._DATA.user = {$userinfo};
</script> 
<script src="__STATIC__/js/jquery.js"></script> 
<script src="__STATIC__/home/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/layer/layer.js"></script> 
<script type="text/javascript" src="__STATIC__/home/js/login.js"></script> 