<include file="public@header"/>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('storage/index')}">{:lang('ADMIN_STORAGE_INDEX')}</a></li>
    </ul>
    <form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('storage/settingPost')}">

        <div class="form-group">
            <label for="input-type" class="col-sm-2 control-label">存储类型</label>
            <div class="col-md-6 col-sm-10">
                <select class="form-control" name="type" id="input-type">
                    <foreach name="storages" item="vo">
                        <php>$type_selected=isset($type)&&$type==$key?"selected":"";</php>
                        <option value="{$key}" {$type_selected}>{$vo.name}</option>
                    </foreach>
                </select>
                <p class="help-block">本地存储仅做测试使用</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">{:lang('SAVE')}</button>
            </div>
        </div>
    </form>
</div>
<script src="__STATIC__/js/admin.js"></script>
</body>
</html>