<include file="public@head" />
<title>{$site_info.site_seo_title|default=$site_name}</title>
<meta name="keywords" content="{$site_info.site_seo_keywords}" />
<meta name="description" content="{$site_info.site_seo_description}" />
<link type="text/css" rel="stylesheet" href="__STATIC__/js/swiper/swiper.min.css" />
<link type="text/css" rel="stylesheet" href="__STATIC__/home/css/index.css" />
</head>

<body>
	<div class="wrapper _home">
		<include file="public@header" />
		<div class="index_live">
			<div style="height: 10px;"></div>
			<div class="index_live_area">
				<div class="index_live_area_left">
					<div id="video_bd" style="width: 100%; height: 590px;">
						<div id="video_play"></div>
					</div>
					<div class="video_mask">
						<a href="/" target="_self">
							<div class="video_mask_center">
								<!-- <p><img src="__STATIC__/home/images/index/enter_room.png"></p> -->
								<p>进入直播间</p>
							</div>
						</a>
					</div>
				</div>
				<div class="index_live_area_right">
					<ul>
						<volist name="recscreen" id="vo" offset="0" length="4">
							<li data-pull="{$vo['pull']}" data-uid="{$vo['uid']}">
								<img class="avatar thumb" src="__STATIC__/home/images/lazyload.png" data-original="{$vo['thumb']}" />
								<p class="roomname">{$vo['title']|default='荣耀球赛'}</p>
							</li>
						</volist>
					</ul>
				</div>
				<div class="clearboth"></div>
			</div>

			<div class="scroll_top">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<volist name='slide' id='vo'>
							<div class="swiper-slide">
								<a target="_self" href="{$vo.url}">
									<img src="{$vo.image}">
								</a>
							</div>
						</volist>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
		<div id="doc-bd">
			<div class="container index">
				<div class="main clearfix">
					<!----首页推荐--->
					<p class="zb_title">· 热门推荐</p>
					<div id="focuspic" class="focuspic feed-list">
						<ul class="list">
							<volist name="recommend" id="v">
								<li class="normal feed">
									<a class="link" target="_self" href="/{$v['uid']}">
										<img class="screenshot thumb" src="__STATIC__/home/images/lazyload.png"
											data-original="{$v['thumb']}" />
										<img class="zzzb" src="__STATIC__/home/images/index/live.png">
										<div class="info">
											<p class="_fxi">
												<span class="roomname">{$v['title']|default='荣耀球赛'}</span>
												<if condition="$v['ishot'] eq true"><img src="__STATIC__/home/images/index/fire.png"></if>
												<if condition="$v['isrecommend'] eq true"><img src="__STATIC__/home/images/index/zan.png"></if>
											</p>
											<p class="sub _fxi">
												<span class="name _fxi"><img class="avatar thumb" src="__STATIC__/home/images/lazyload.png"
														data-original="{$v['avatar_thumb']}" />{$v['user_nicename']}</span>
												<i class="_fxi"><img src="__STATIC__/home/images/index/fen1.png"><img  class="fen1" src="__STATIC__/home/images/index/fen.png">{$v['nums']}</i>
											</p>
										</div>
									</a>
								</li>
							</volist>
						</ul>
					</div>
					<!-- 足球 -->
					<volist name="indexdata" id="item" offset="0" length="4">
						<div class="g-box feed-list" id="hot">
							<p class="zb_title scd">·{$item['name']}
								<notempty name="$item.list">
									<if condition="count($item.list) gt 4">
										<a href="/home/Live/index?pid={$item['id']}">查看更多>></a>
									</if>
								</notempty>
							</p>
							<div class="box-bd">
								<ul class="list">
									<notempty name="$item.list">
										<volist name="item.list" id="v" offset="0" length="4">
											<li class="feed">
												<a class="link" href="/{$v['uid']}" target="_self">
													<img class="screenshot thumb" src="__STATIC__/home/images/lazyload.png"
														data-original="{$v['thumb']}" />
													<img class="zzzb" src="__STATIC__/home/images/index/live.png">
													<div class="info">
														<p class="_fxi">
															<span class="roomname">{$v['title']|default='荣耀球赛'}</span>
															<if condition="$v['ishot'] eq true"><img src="__STATIC__/home/images/index/fire.png"></if>
															<if condition="$v['isrecommend'] eq true"><img src="__STATIC__/home/images/index/zan.png">
															</if>
														</p>
														<p class="sub _fxi">
															<span class="name _fxi"><img class="avatar thumb"
																	src="__STATIC__/home/images/lazyload.png"
																	data-original="{$v['avatar_thumb']}" />{$v['user_nicename']}</span>
															<i class="_fxi"><img src="__STATIC__/home/images/index/fen1.png">{$v['nums']}</i>
														</p>
													</div>
												</a>
											</li>
										</volist>
									</notempty>
									<empty name="$item.list">
										<div class="nodata">暂无比赛……</div>
									</empty>
								</ul>
							</div>
						</div>
					</volist>
				</div>
			</div>
			<include file="public@footer" />
		</div>
		<include file="public@scripts" />

		<div class="fix_area">
			<div class="type_app crt">
				<img class="act" src="__STATIC__/home/images/index/app.png">
				<img src="__STATIC__/home/images/index/app1.png">
				<div class="_rt">
					<div class="_ctt">
						<p>扫一扫</p>
						<p>手机看直播</p>
						<img src="{$site_info['apk_ewm']}">
						<p class="app_ewm_name">APP下载</p>
					</div>
				</div>
			</div>
			<div class="type_kf">
				<a href="{$configpri['service_url']}" target="_blank"><img class="act" src="__STATIC__/home/images/index/kefu.png"></a>
				<img src="__STATIC__/home/images/index/kefu1.png">
			</div>
			<div class="type_top">
				<img class="act" src="__STATIC__/home/images/index/zhiding1.png">
				<img src="__STATIC__/home/images/index/zhiding.png">
			</div>
		</div>
	</div>
	<script type="text/javascript" src="__STATIC__/js/swiper/swiper.min.js"></script>

	<script>
		$(function () {
			//图片延迟加载
			$("img.thumb").lazyload({ effect: "fadeIn" });

			var swiper = new Swiper('.swiper-container', {
				pagination: {
					el: '.swiper-pagination',
				},
				autoplay: {
					delay: 3000,
					stopOnLastSlide: false,
					disableOnInteraction: true,
				},
				loop: true
			});
		})
	</script>

	<!-- 视频播放start -->
	<script src="__STATIC__/xigua/xgplayer.js?t=1574906138" type="text/javascript"></script>
	<script src="__STATIC__/xigua/xgplayer-flv.js.js" type="text/javascript"></script>
	<script src="__STATIC__/xigua/xgplayer-hls.js.js" type="text/javascript"></script>
	<script src="__STATIC__/xigua/player.js?t=1585644510" type="text/javascript"></script>

	<!-- 视频播放end -->
	<script type="text/javascript">
		$(function () {
			$(".index_live_area_right ul li").click(function () {
				if ($(this).hasClass("on")) {
					return;
				}
				$(this).siblings().removeClass("on");
				$(this).addClass("on");

				var pull = $(this).attr("data-pull");

				$(".video_mask a").attr("href", "/" + $(this).attr("data-uid"));

				var data_play = {
					autoplay: true,
					autoplayMuted: true,
					loop: true,
					lang:'zh-cn'
				};
				xgPlay('video_play', pull, data_play, 1);
			});

			var firstLive = $(".index_live_area_right ul li")[0];
			if (firstLive) {
				firstLive.click();
			}

			$(".index_live_area_left").mouseover(function () {
				$(".video_mask").show();
			});
			$(".index_live_area_left").mouseleave(function () {
				$(".video_mask").hide();
			});

			$(".type_top").click(function () {
				document.documentElement.scrollTo({top: 0, behavior: 'smooth'});
			});
		});
	</script>
</body>

</html>