<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<!--<ul class="nav nav-tabs">
			<li class="active"><a >大屏推荐</a></li>
			
		</ul>
		
		<form class="well form-inline margin-top-20" method="post" action="{:url('Liveing/index')}">
			时间：
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
			关键字：
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID、靓号">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>-->		
		<form method="post" class="js-ajax-form" action="{:url('recLiveing/editOrder')}">
		   <div class="table-actions">
            <button class="btn btn-primary btn-sm js-ajax-submit" type="submit">{:lang('SORT')}</button>
        </div>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
					    <th>排序</th>
					    <th>在线人数</th>
						<th>会员ID</th>
						<th>会员昵称</th>
						<th>直播ID</th>
						<th>开播时间</th>
						<th>直播分类</th>
						<th>房间类型</th>
						<th>密码/价格</th>
						<th>视频类型</th>
					
						<!--<th>本场收益</th>
						<th>打赏人数</th>
						<th>人均打赏</th>-->
						<th>播流地址</th>
						<th>设备信息</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo" key="k">
					<tr>
					    
					    <td>
					    <input name="cert_scores[{$vo.uid}]" class="input-order" type="text" value="{$vo['sort'] | default=$k+1}">
					    </td>
					     <td>{$vo['nums']}</td>
						<td>{$vo.uid}</td>					
						<td>{$vo['userinfo']['user_nicename']} </td>
						<td>{$vo['showid']}</td>
						<td>{:date('Y-m-d H:i',$vo['starttime'])}</td>
						<td><present name="liveclass[$vo['liveclassid']]">{$liveclass[$vo['liveclassid']]}<else />--</present></td>
						<td><present name="type[$vo['type']]">{$type[$vo['type']]}<else />--</present></td>
						<td>{$vo['type_val']}</td>
						<td><if condition="$vo['anyway'] eq 0">竖屏<else/>横屏</if></td>
                       
                        <!--<td>{$vo['totalcoin']}</td>
                        <td>{$vo['total_nums']}</td>
                        <td>{$vo['total_average']}</td>-->
                        <td>{$vo['pull']|substr=0,17}....  <button type="button" class="copystream" data-clipboard-text="{$vo['pull']}"  data-clipboard-action="copy" >点击复制</button></td>
                        <td>{$vo['deviceinfo'] | default='pc'}</td>
						<td>
                            <if condition="$vo['isrecommend']==1">
                            
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('recLiveing/del',array('uid'=>$vo['uid']))}">{:lang('DELETE')}</a>
							<else>
							   默认 
                            </if>
						</td>
						
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
	<script src="__STATIC__/js/clipboard/clipboard.min.js"></script>
	<script>
        var clipboard = new ClipboardJS('.copystream');
        clipboard.on('success', function(e){
            alert('复制成功啦!');
        });
        clipboard.on('error', function(e){
            alert('复制失败，请长按复制!');
        });
	</script>
</body>
</html>