<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >直播列表</a></li>
			<li><a href="{:url('Liveing/add')}">{:lang('ADD')}</a></li>
		</ul>
	
		<form class="well form-inline margin-top-20" method="post" action="{:url('Liveing/index')}">
			时间：
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
            在线人数：
            	
			<input class="form-control" type="number" name="minnum" id="minnum" value="{:input('request.minnum')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control" type="number" name="maxnum" id="maxunum" value="{:input('request.maxnum')}" aria-invalid="false" style="width: 110px;">
			关键字：
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID、靓号">
			<input type="submit" class="btn btn-primary" value="搜索">
			<a class="btn  btn-primary" href="javascript:addrecommend();">添加推荐</a>
<a class="btn btn-primary" href="javascript:parent.openIframeLayer('{:url('RecLiveing/index')}','大屏推荐',{});">推荐列表</a>
		</form>	
		<!--	<button   id="btnOperate" onclick="addrecommend()">添加推荐</button>
			<button   id="recommend">推荐列表</button>-->

		<form method="post" class="js-ajax-form" >
		  
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
					   	<td>选择</td>
						<th>会员ID</th>
						<th>会员昵称</th>
						<th>直播ID</th>
						<th>直播开始时间</th>
						<th>直播分类</th>
						<th>房间类型</th>
						<th>密码/价格</th>
						<th>视频类型</th>
						<th>
						<span style="display: flex;">在线人数
							<p style="width: 18px;font-size: 0;">
								<a href="{:url('Liveing/index')}?order=DESC"><img style="margin-bottom: -2px;" src="__STATIC__/images/tu.png"></a>
								<a href="{:url('Liveing/index')}?order=ASC"><img style="margin-top: -2px;" src="__STATIC__/images/td.png"></a>
							</p>
						</span>
						</th>
						<!--<th>本场收益</th>
						<th>打赏人数</th>
						<th>人均打赏</th>-->
						<th>播流地址</th>
						<th>设备信息</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
					    <td><input type="checkbox" name="category" value="{$vo.uid}" <if condition="$vo.isrecommend eq 1">  disabled checked</if>/></td>
						<td> {$vo.uid}</td>					
						<td>{$vo['userinfo']['user_nicename']} </td>
						<td>{$vo['showid']}</td>
						<td>{:date('Y-m-d H:i',$vo['starttime'])}</td>
						<td><present name="liveclass[$vo['liveclassid']]">{$liveclass[$vo['liveclassid']]}<else />--</present></td>
						<td><present name="type[$vo['type']]">{$type[$vo['type']]}<else />--</present></td>
						<td>{$vo['type_val']}</td>
						<td><if condition="$vo['anyway'] eq 0">竖屏<else/>横屏</if></td>
                        <td>{$vo['nums']}</td>
                        <!--<td>{$vo['totalcoin']}</td>
                        <td>{$vo['total_nums']}</td>
                        <td>{$vo['total_average']}</td>-->
                        <td>{$vo['pull']}</td>
                        <td>{$vo['deviceinfo']}</td>
						<td>
                            <if condition="$vo['isvideo']==1">
                            <a class="btn btn-xs btn-primary" href='{:url("Liveing/edit",array("uid"=>$vo["uid"]))}'>{:lang('EDIT')}</a>
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Liveing/del',array('uid'=>$vo['uid']))}">{:lang('DELETE')}</a>
                            </if>
						</td>
						
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
	<script src="__STATIC__/js/layer/layer.js"></script>
	
<script>        
    function addrecommend() 
    { 
       
        //document.getElementById("btnOperate").onclick = function () {                
            var arr = new Array();                
            var items = document.getElementsByName("category");                 
            for (i = 0; i < items.length; i++) {                    
                if (items[i].checked && items[i].disabled===false) {                        
                    arr.push(items[i].value);                    
                }                
            }
            if(arr.length === 0){
                layer.msg("请选择要推荐的主播",{time:3000});
            }
             $.ajax({
        			type:"post",
        			url:"{:url('Liveing/recommend')}",
        			data:{datauid:arr},
        			success:function(data)
        			{
        			    if(data=='ok'){
        			        layer.msg("提交成功");
        			    }else{
        			        layer.msg("稍后再试");
        			    }
  
        				 console.log(data)
        			}
        		});
           
            //alert("选择的个数为：" + arr.length);            
        //};        
    };    
</script>	
	
	
</body>
</html>