<include file="public@head" />
<title>{$site_info.site_seo_title|default=$site_name}</title>
<meta name="keywords" content="{$site_info.site_seo_keywords}" />
<meta name="description" content="{$site_info.site_seo_description}" />
<link type="text/css" rel="stylesheet" href="__STATIC__/js/swiper/swiper.min.css" />
<link type="text/css" rel="stylesheet" href="__STATIC__/home/css/index.css" />
</head>

<body>
	<div class="wrapper">
		<include file="public@header" />
		<div class="top_header">
			<p>— 直播大厅 —</p>LIVE BROADCAST HALL
		</div>
		<div id="doc-bd">
			<div class="container index">
				<div class="main clearfix">
					<!-- 最新直播 -->
					<div class="g-box feed-list" id="living">
						<ul class="sort">
							<img src="__STATIC__/home/images/index/allicon.png">
							<li class="all <if condition=" $pid eq ''">act</if>"><a class="link" href="/home/Live/index">全部直播</a></li>
							<volist name="liveClass" id="v">
								<li <if condition="$pid eq $v['id']">class="act"</if>><a class="link" href="/home/Live/index?pid={$v['id']}">{$v['name']}</a></li>
							</volist>
						</ul>
						<div class="box-bd">
							<ul class="list">
								<volist name="live" id="v">
									<li class="feed">
										<a class="link" href="/{$v['uid']}" target="_self">
											<img class="screenshot thumb" src="__STATIC__/home/images/lazyload.png"
												data-original="{$v['thumb']}" />
											<img class="zzzb" src="__STATIC__/home/images/index/live.png">
											<div class="info">
												<p class="_fxi">
													<span class="roomname">{$v['title']|default='荣耀球赛'}</span>
													<if condition="$v['is_hot'] eq 1"><img src="__STATIC__/home/images/index/fire.png"></if>
													<if condition="$v['is_recommend'] eq 1"><img src="__STATIC__/home/images/index/zan.png"></if>
												</p>
												<p class="sub _fxi">
													<span class="name _fxi"><img class="avatar thumb" src="__STATIC__/home/images/lazyload.png"
															data-original="{$v['avatar_thumb']}" />{$v['user_nicename']}</span>
													<i class="_fxi"><img src="__STATIC__/home/images/index/fen1.png">{$v['nums']}</i>
												</p>
											</div>
										</a>
									</li>
								</volist>
							</ul>
						</div>
						<ul class="pagenation"></ul>
					</div>
				</div>
			</div>
			<include file="public@footer" />
		</div>
		<include file="public@scripts" />
		<div class="fix_area">
			<div class="type_app crt">
				<img class="act" src="__STATIC__/home/images/index/app.png">
				<img src="__STATIC__/home/images/index/app1.png">
				<div class="_rt">
					<div class="_ctt">
						<p>扫一扫</p>
						<p>手机看直播</p>
						<img src="{$site_info['apk_ewm']}">
						<p class="app_ewm_name">APP下载</p>
					</div>
				</div>
			</div>
			<div class="type_kf">
				<a href="{$configpri['service_url']}" target="_blank"><img class="act" src="__STATIC__/home/images/index/kefu.png"></a>
				<img src="__STATIC__/home/images/index/kefu1.png">
			</div>
			<div class="type_top">
				<img class="act" src="__STATIC__/home/images/index/zhiding1.png">
				<img src="__STATIC__/home/images/index/zhiding.png">
			</div>
		</div>
	</div>

	<script type="text/javascript">
		let pn = 1
		const pz = +'{$pagesize}'
		const total = Math.ceil('{$count}' / pz)
		const pa = $('.pagenation');
		function page() {
			let html = `<li class="btn sy ${pn == 1 ? 'dis' : ''}"></li><li class="btn pr ${pn == 1 ? 'dis' : ''}"></li>`
			Array(total).fill(1).forEach((_, i) => (html += `<li class=${(i + 1) == pn ? 'act' : ''}>${i + 1}</li>`))
			html += `<li class="btn nx ${pn == total ? 'dis' : ''}""></li><li class="btn zh ${pn == total ? 'dis' : ''}""></li>`
			pa.html(html);
			$('.list li').each(function (i, _) {
				if (i < (pz * pn) && i >= (pz * pn - pz)) $(_).show()
				else $(_).hide()
			})
		}
		$(function () {
			page()
			pa.on('click', 'li', function () {
				let cpn = pn
				const index = this.classList[1] || this.innerText
				switch (index) {
					case 'sy': pn = 1; break;
					case 'pr': pn -= 1; break;
					case 'nx': pn += 1; break;
					case 'zh': pn = total; break;
					default: pn = +index;
				}
				pn = pn < 1 ? 1 : pn > total ? total : pn
				if (pn == cpn) return
				page()
			})

			//图片延迟加载
			$("img.thumb").lazyload({ effect: "fadeIn" });

			$(".type_top").click(function () {
				document.documentElement.scrollTo({top: 0, behavior: 'smooth'});
			});
		});
	</script>
	<style>
		.pagenation {
			margin: 10px 0 -60px;
			display: flex;
			justify-content: center;
			font-size: 14px;
			align-items: center;
			line-height: 24px;
			color: #666;
			text-align: center;
			height: 50px;
			border-radius: 6px;
			background-color: rgba(255,255,255,0.4);
		}

		.pagenation li {
			cursor: pointer;
			width: 24px;
			height: 24px;
			border: 1px solid #666;
			margin: 0 10px;
		}

		.pagenation li:hover,
		.pagenation li.act {
			border-color: #B050FB;
			background-color: #B050FB;
			color: #fff;
		}

		.pagenation li.sy,
		.pagenation li.zh {
			margin: 0 8px;
			background-image: url(__STATIC__/home/images/index/sy.png);
		}

		.pagenation li.pr,
		.pagenation li.nx {
			margin: 0 6px;
			background-image: url(__STATIC__/home/images/index/pre.png);
		}

		.pagenation li.dis {
			cursor: not-allowed;
		}

		.pagenation li:not(.dis).pr:hover,
		.pagenation li:not(.dis).nx:hover {
			background-image: url(__STATIC__/home/images/index/next.png);
			transform: rotate(0deg);
		}

		.pagenation li:not(.dis).pr:hover {
			transform: rotate(180deg);
		}

		.pagenation li.zh,
		.pagenation li.nx {
			transform: rotate(180deg);
		}

		.pagenation li.btn {
			background-color: transparent;
			border-color: transparent;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	</style>
</body>

</html>