<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >直播记录列表</a></li>
		</ul>
		
		<form class="well form-inline margin-top-20" method="post" action="{:url('liverecord/index')}">
            时间：
			<input class="form-control js-bootstrap-date" autocomplete="off" name="start_time" id="start_time" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" autocomplete="off" name="end_time" id="end_time" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
			会员ID： 
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员id、靓号">
                   
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>		
		<form method="post" class="js-ajax-form" >

			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>编号</th>
						<th>会员（ID）</th>
						<th>直播ID</th>
						<th>流名</th>
						<!--<th>直播收益</th>-->
						<th>直播开始时间</th>
						<th>直播结束时间</th>
						<th>总人数</th>
					<!-- 	<th>{:lang('ACTIONS')}</th> -->
					</tr>
				</thead>
				<tbody>
					<php>$islive=array("0"=>"直播结束","1"=>"直播中");</php>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo.id}</td>					
						<td>{$vo['userinfo']['user_nicename']} ({$vo['uid']}) </td>
						<td>{$vo['showid']}</td>
						<td>{$vo['stream']}</td>
						<!--<td>{$vo['votes']}</td>-->
						<td>{:date('Y-m-d H:i',$vo['starttime'])}</td>
						<td>{:date('Y-m-d H:i',$vo['endtime'])}</td>
						<td>{$vo['nums']}</td>
						<!-- <td align="center">	
                            <a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('liverecord/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
						</td> -->
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>