<script>
    var uid='{$uid|default=''}';
    var token='{$token|default=''}';
    var baseSize = 100;
    function setRem () {
      var scale = document.documentElement.clientWidth / 750;
      document.documentElement.style.fontSize = (baseSize * Math.min(scale, 3)) + 'px';
    }
    setRem();
    window.onresize = function () {
      setRem();
    }
</script>
<script src="__STATIC__/js/jquery.js"></script>
<script src="__STATIC__/js/layer/layer.js"></script>

